<div align="center"><font id="h1">БОРОДИНО</font></div>
<img src="/img/borodino-b.png" align="left"/>
<p/>
<a class="fancybox-effects-c" href="/img/base/77.jpg">Витрина 12</a> 
посвящена одному из самых значительных событий отечественной истории – Бородинскому сражению 1812 г.
<p/>Бородино, бородинское поле… эти слова, знакомые каждому с детства, невольно вызывают в памяти героические страницы истории нашего 
Отечества. Здесь, у села Бородино, в 120 км западнее Москвы, 26 августа 1812 г. произошло знаменитое сражение, в котором 
русские войска под командованием М.И. Кутузова дали достойный отпор полчищам французского императора Наполеона.
<p/>«Битва гигантов» произошла на площади 49 км2. Около 300 тысяч человек под грохот 1200 орудий в течение 15 часов сражались 
на Бородинском поле, которое вошло в мировую историю как место одного из величайших сражений. Для русских Бородино – это 
символ несокрушимости духовных сил в борьбе за сохранение родной земли. К столетию Бородинского сражения В 1912 г. художником Ф. Рубо 
была создана Панорама «Бородинская битва» (размер 14 х 115 метров).   
<p/>В витрине демонстрируются подлинные экспонаты с Бородинского поля, найденные членами археологического 
кружка п. Медведево во время Всероссийского слета археологических объединений в 1990, 1992 гг. Часть экспонатов 
напрямую связана с событиями героического сражения: пуля, 
<a class="fancybox-effects-c" href="/img/base/78.jpg">ядра, осколок от бомбы</a>, 
<a class="fancybox-effects-c" href="/img/base/79.jpg">подкова</a>, 
предметы конской утвари. 
Другая часть предметов имеет бытовое предназначение: осколки фарфоровой  и стеклянной посуды, ключ, монеты.
<p/>Обращают на себя внимание красота и изящество 
<a class="fancybox-effects-c" href="/img/base/81.jpg">фарфоровых фигурок</a>: 
головы девушки и собачки. Экспонаты были обнаружены в самом центре Бородинского поля, у батареи Раевского.