<img src="/img/chersonesus-b.png" align="left"/>
<p/><font id="h1">А</font>нтичный Херсонес-Таврический 
(<a class="fancybox-effects-c" href="/img/base/54.jpg">витрина 8</a>) 
был наиболее поздней греческой колонией на северном побережье Черного моря в Крыму. Таврическим он называется потому, что находился на земле легендарных 
воинственных тавров. Покровительницей Крыма в древности считалась 
<a class="fancybox-effects-c" href="/img/base/38.jpg">богиня Таврида</a>. 
Справа от основной витрины представлена копия терракоты богини.
<p/>В витрине представлено большое разнообразие осколков керамичекой посуды: донышки, венчики, боковые стенки и ручки сосудов. В центральной части витрины распологаются осколки стеклянной посуды, 
<a class="fancybox-effects-c" href="/img/base/55.jpg">железные гвозди</a> 
и 
<a class="fancybox-effects-c" href="/img/base/56.jpg">ножик</a>.
<p/>Почти два тысячелетия этот порт-крепость стоял на Черноморском побережье. Живая нить его истории, 
полная бурных событий, протянулась из далекой рабовладельческой эпохи в феодальное средневековье.
<p/>Херсонес был хорошо известен древнему миру. Местоположение его указывалось на морских картах, 
о нем писали античные и средневековые писатели и географы. Исторические хроники свидетельствуют, 
что в 988 году в Корсунь (средневековое название Херсонеса) после длительной осады вошел со своей 
дружиной князь Владимир. Именно здесь он женился на византийской принцессе Анне и принял крещение в 
Храме, вскоре названном его именем. Отсюда и пошло христианство на Руси. 
<p/>Наличие папирусов с изображением  знаменитого фараона Тутанхамона и красавицы царицы Нефертити 
в нижней части витрины, свидетельствует о связях греков с Древним Египтом. 
<a class="fancybox-effects-c" href="/img/base/57.jpg">Макеты</a> 
камнеметной и стенобитной машины (Кирилл Петухов,  9 класс, МСШ №2, 2004 г.) создают соответствующее представление о военных возможностях людей того времени. Уменьшенная реконструкция древней ладьи (Илья Архипов, 6 класс, МСШ № 3, 2009 г.) напоминает, что корабли были важным символом путешествия египтян в загробный мир.
<p/>С эпохи неолита основным занятием людей становится земледелие. Вплоть до XX в. зерно обычно мололи на 
ручной мельнице, состоявшей из двух каменных жерновов. Один из них представлен в экспозиции слева от 
<a class="fancybox-effects-c" href="/img/base/54.jpg">витрины 8</a>. 