<p/><img src="/img/city-b.png" align="left">
Следующий 
<a class="fancybox-effects-c" href="/img/base/37.jpg">раздел</a> 
экспозиции  посвящен <b>античным памятникам Северного Причерноморья</b>.
<p/>Одной из ярчайших цивилизаций древнего мира является античная греческая культура. 
Об этом напоминает копия скульптуры наиболее почитаемой у греков 
<a class="fancybox-effects-c" href="/img/base/38.jpg">богини Афины</a> 
и небольшой планшет с художественным изображением знаменитого портика храма Эрейхтейона на Афинском акрополе. 
Храм посвящен Афине и Посейдону. Именно здесь произошел спор из-за того, кто будет покровителем города. 
Вместо столбов – кариатиды. В VII – VI вв. до н. э. греки основали десятки поселений (колоний) на 
берегах Средиземного и Черного морей. Эти поселения стали независимыми, со своими правительствами, отрядами 
воинов и  законами.
<p/>Наиболее крупными античными центрами в Северном Причерноморье являлись Ольвия и Херсонес-Таврический. 
Ольвия 
(<a class="fancybox-effects-c" href="/img/base/40.jpg">витрина 6</a>, 
<a class="fancybox-effects-c" href="/img/base/46.jpg">витрина 7</a>) 
была широко известна в современном ей мире. В V веке до н. э. её, вероятно, посетил «отец истории» Геродот.
<p/>Раскопки на месте древних греческих городов, в которых участвовали и медведевские школьники, 
открыли нам крепости, храмы с мраморными колоннами, дома и дворцы, усадьбы рабовладельцев, на территории 
которых было найдено множество привозных вещей из Греции и Малой Азии.
<p/>Особенно хороша была греческая тонкостенная посуда (чернолаковая,  краснолаковая) с красивой росписью, 
изображавшей мифологические сюжеты. В верхней части витрин находятся прекрасные 
<a class="fancybox-effects-c" href="/img/base/39.jpg">копии древнегреческой посуды</a>: 
кратер,  лекиф, амфора, пелика и  кубок.          
<p/>Особое место занимает коллекция подлинных фрагментов посуды 
(<a class="fancybox-effects-c" href="/img/base/46.jpg">витрина 7</a>, 
<a class="fancybox-effects-c" href="/img/base/54.jpg">витрина 8</a>). Обращают внимание фрагменты росписной 
керамики, в том числе и чернолаковой (секреты производства черного лака ученые не раскрыли до сих пор). 
О разнообразии и оригинальности посуды свидетельствуют следующие экспонаты: 
<a class="fancybox-effects-c" href="/img/base/53.jpg">ножка и горло</a> амфоры, донышки, 
ручки, венчики и 
<a class="fancybox-effects-c" href="/img/base/51.jpg">стенки сосудов</a>.