<table>
	<td width="625">
		<font id="h1">Участие во всероссийских конференциях и олимпиадах</font>
	</td>
	<td>
		<a href="/union/competitions/presentation">
			<img src="/img/presentation.png" onMouseOver="this.src='/img/com_presentation.png'"; onMouseOut="this.src='/img/presentation.png'">
		</a>
	</td>
</table>

<p/>Помимо ежегодного участия в археологических экспедициях, с 1997 г. актив кружка регулярно 
участвует и добивается хороших результатов на всероссийских и открытых региональных олимпиадах 
по археологии и школьному краеведению в Москве и Санкт-Петербурге. 

<p/>Деятельность школьников в работе кружка и экспедициях позволила им получить серьезную 
теоретическую и практическую подготовку. Закономерным этапом стало участие школьников в 
археологических и краеведческих конференциях и олимпиадах. Традиции поисково-исследовательской 
работы и  проведение школьных конференций в Медведевской СОШ № 2 сложились давно. Кружковцы 
успешно участвовали в заочной республиканской олимпиаде юных археологов при Марийском 
государственном университете (1989–1991 гг.). 

<p/>В дальнейшем медведевцы стали регулярно участвовать в республиканских конкурсах и 
конференциях, проводимых ГБОУДОД РМЭ «Детско-юношеский центр «Роза ветров», и 
добиваться высоких результатов.

<p/>В 1997 г. Министерство образования Республики Марий Эл предложило юным археологам 
участвовать в I Всероссийской и Открытой региональной археологических олимпиадах в Санкт-Петербурге. 
Олимпиада состояла из двух туров – заочного и очного. Необходимо было написать и защитить 
творческую работу, связанную с историей и культурой родного края. 

<p/>В итоге были подготовлены три работы: выполненные <u>Ольгой Лежниной</u> 
«Искусство каменного века: кремневая скульптура и мелкая глиняная пластика», 
<u>Сергеем Бандиным</u> «Марийский край в памятниках археологии (эпоха камня)» и <u>Лялей 
Каюмовой</u> «Украшения абашевской культуры (лесная зона Среднего Поволжья в эпоху бронзы)». 
Конкурсанты удачно выступили в Открытой Городской олимпиаде, получив дипломы I (Лежнина О.) 
и III (Бандин С.) степени. Наибольший успех сопутствовал выпускнице 11 класса Ляле Каюмовой. 
Выступая на I Всероссийской олимпиаде в Институте истории материальной культуры РАН, она заняла 
I место. Доклад Ляли был опубликован в тематическом научном журнале «Аничковский вестник».

<p/>Благодаря успешному выступлению команды Марий Эл в I Всероссийской олимпиаде в 1998 и 2000 гг., 
кружковцам поступили приглашения для участия во II-ой и IV-ой Всероссийских олимпиадах 
по школьному краеведению в Москве. 

<p/>Творческие работы <u>Светланы Инягиной</u> «Красное Селище – уникальный памятник Средневековья Марийского края» 
и <u>Татьяны Беневоленской</u> «Археологические исследования малых городов Марийского края ХVI–XVIII вв. 
на примере раскопок г. Козьмодемьянска» по итогам всех этапов олимпиады были удостоены дипломов II степени.

<p/><u>Вячеслав Кудрявцев</u> и <u>Андрей Туманов</u> успешно выступили на IV-ой Всероссийской олимпиаде 
по школьному краеведению. За работы «Юринская стоянка (к проблеме формирования чирковской культуры)» 
и «Перспективы изучения Мало-Сундырского городища» Вячеслав и Андрей получили дипломы I степени. 
В том же 2000 г. Вячеслав Кудрявцев в номинации «Исследование» был отмечен дипломом II 
степени на ХХII Открытой региональной олимпиаде по археологии, этнографии, истории и искусствоведению, 
проходившей в Санкт-Петербурге. Работа Андрея Туманова «Мало-Сундырское городище – 
уникальный памятник Средневековья Марийского края» на ХХIV Открытой региональной олимпиаде в 2002 г. 
оценена дипломом I степени.

<p/>Продолжением исследовательской работы школьников стало официальное создание в 2005 г. школьного 
научного общества (ШНО) в Медведевской СОШ № 2. Президентом общества была выбрана ученица 7 класса 
<u>Регина Зурканаева</u>, активистка археологического музея, участница и лауреат районных, республиканских, 
всероссийских научно-практических конференций и семинаров, имеющая опыт работы в экспедициях. 
По итогам Всероссийского конкурса исследовательских краеведческих работ участников туристско-краеведческого 
движения «Отечество» Регина в 2006 г. за исследовательскую работу «Юринский (Усть-Ветлужский) 
могильник – памятник сейминско-турбинской культуры» была награждена Дипломом III степени, а 
также стала победителем конкурса экскурсоводов. Она была удостоена поездкой в Москву на Президентскую елку 2007 г.

<p/>В 2010 г. в г. Москве на Всероссийской конференции исследовательских краеведческих работ 
учащихся от Республики Марий Эл была представлена работа выпускницы 11 класса СОШ № 2 <u>Елены 
Вылегжаниной</u> «Геннадий Андреевич Архипов – первый марийский археолог». Елена стала дипломантом 
финала в секции «Археология» и была награждена ценным подарком.

<p/>В Год Истории в 2012 году на финал Всероссийского конкурса исследовательских краеведческих работ учащихся «Отечество» в секцию «Школьные музеи. История детского движения» была выдвинута работа ученика 9 класса <u>Алексея Леухина</u>. Его доклад и презентация по теме «Медведевское объединение «Юный археолог» (1986–2011 гг.)» вызвали большой интерес у жюри 
и всех присутствующих. Исследование Алексея посвящено истории возникновения объединения, направлениям его деятельности, традициям и  достижениям юных археологов разных поколений. Работа отмечена Дипломом Министерства образования и науки Российской Федерации.

<p/>В интервью районной газете «Вести» бывший кружковец, неоднократный участник 
олимпиад по истории, школьному краеведению и археологии, а ныне младший научный сотрудник МарГУ Андрей 
Туманов так оценил значение конкурсов: «…дух соперничества, надежды только на свои знания и умения, 
дружба и любовь к родному краю – вот что характеризует олимпиады. В наше сложное время очень 
трудно выехать на конкурсы такого ранга. Большое спасибо всем тем, кто поверил в нас, оказал и 
оказывает помощь нашему археологическому кружку в осуществлении поездок в экспедиции и на олимпиады...»