<h1>Участие в конференциях</h1>
<ul>
	<li>Участник Шестых всероссийских краеведческих чтений (Москва, 2012)</li>
	<li>Делегат Первого всероссийского Съезда учителей истории и обществознания<br> (Москва, 2011)</li>
	<li>Делегат  Учредительной  конференции  межрегиональной общественной организации «Ассоциация школьных учителей истории и обществознания» (Москва, 2010)</li>
	<li>Участник  учительского форума Приволжского федерального округа (Пенза, 2010)</li>
	<li>Участник торжественного мероприятия, посвященного Международному дню учителя  и церемонии вручения главного приза «Хрустальный пеликан» победителю Всероссийского конкурса «Учитель года – России – 2010» (Москва, 2010)</li>
	<li>Участник Всероссийского семинара – совещания руководителей и специалистов музеев образовательных учреждений (Москва, 2009)</li>
	<li>Участник Всероссийской научно – практической конференции «Этническая культура народов Волго – Камья: 	традиции, трансформации и современные процессы» (Йошкар – Ола,  2009)</li>
	<li>Участник республиканской музейной научно – практической конференции «III Евсеевские чтения»  (Йошкар – 		Ола, 2009)</li>
	<li>Участник семинаров Совета Европы и Минобразования РФ по теме «Как преподавание культурного разнообразия через школьное историческое образование может содействовать укреплению социального сплочения и сотрудничества в современном  обществе» (Москва, 2007, 2008,  Йошкар – Ола, 2007)</li>
	<li>Участник межрегиональной научно – практической конференции «Положение молодежи в финно-угорских регионах Российской Федерации» (Йошкар-Ола, 2007)</li>
	<li>Участник межрегионального форума лучших учителей общеобразовательных учреждений Приволжского федерального округа,  обладателей грандов в рамках приоритетного национального проекта «Образование» (Чебоксары, 2007)</li>
	<li>Участник республиканских научно – практических конференций «Марийское краеведение: опыт  и перспективы его использования в системе образования» (Йошкар – Ола, 1995, 1997, 2002 – 2009)</li>
	<li>Участник Всесоюзных педагогических чтений (Нижний Новгород, 1991)</li>
	<li>Участник Всероссийской конференции руководителей археологических объединений (Ленинград, 1990)</li>
</ul>