<table>
	<td width="625">
		<font id="h1">Создание археологического музея</font>
	</td>
	<td>
		<a href="/union/creation/presentation">
			<img src="/img/presentation.png" onMouseOver="this.src='/img/cre_presentation.png'"; onMouseOut="this.src='/img/presentation.png'">
		</a>
	</td>
</table>

<p/>Третье направление деятельности археологического объединения – создание школьного археологического музея. 
Большую помощь в создании и оформлении музея оказывали и оказывают школьники. 

<p/>Идея создания археологического музея возникла у Игоря Ивановича Панова еще в начале 
80–х гг., в студентческие годы. Участвуя в многочисленных экспедициях по стране, посещая 
разнообразные музеи, пришло понимание, каким должен быть школьный музей. 

<p/>В личную коллекцию, с разрешения руководителей экспедиций, попали некоторые интересные находки, 
встречающиеся в массовом количестве, представляющие наглядный интерес. Часть археологических 
материалов передана школе на временное хранение археологами национального музея им. Т. Евсеева 
и МарНИИЯЛИ,  другая – кафедрой истории МГПИ и краеведческим отделом городского Дворца творчества юных. 
Но большая часть экспонатов собрана самими кружковцами как подъемный материал и подарена посетителями музея.

<p/>Основа музея заложена в 1989 г. в СОШ № 2, но только в 2003 г. ему был официально присвоен статус и 
звание «Школьный музей» на базе СОШ № 3 п. Медведево. Детям и организатору создания музея выпал 
уникальный случай: совместно, от идеи, с чистого листа создать музей, подобного которому не было в 
Республике Марий Эл. Сложность проекта состояла в том, что организатор музея, работая учителем в СОШ № 2, 
археологический музей создавал в СОШ № 3. Еще одна проблема, с которой пришлось столкнуться руководителю 
музея, – полное отсутствие финансирования. Ремонт помещения пришлось проводить, используя личные средства. 
Наконец, самая главная проблема – отсутствие опыта организации подобного музея.

<p/>Организация музея является результатом 25–летней деятельности археологического кружка, 
участия школьников в археологических экспедициях, слетах, конференциях и олимпиадах. Создание и 
оформление музея стало итогом совместного творчества учеников, их родителей, бывших кружковцев, 
учителей, ученых, спонсоров, администрации школы и района. Большую поддержку оказывает глава 
администрации Медведевского района Даиль Габдуллович Шагиахметов. 

<p/>В реализации музейного проекта принимали участие учащиеся СОШ № 2 и СОШ № 3 <BR>п. 
Медведево разного возраста, с 5 по 11 классы. В проекте оформления экспозиций, концепции дизайна, 
размещения витрин, создании макетов-реконструкций музея активно помогали юные помощники. 
Многие идеи сегодня реализованы. Наверное, поэтому музей притягивает посетителей, особенно детей. 

<p/>Наглядность экспозиции обеспечивают сделанные руками школьников макеты археологических 
памятников. Наибольший интерес у посетителей вызывает диорама и реконструкция жилища первобытных 
людей:  чучела и шкуры животных (рыси, медведя, овцы, кабана) придают особый колорит музею. 
Мерцающий свет внутри шалаша создает иллюзию костра, освещая при этом фигуры первобытных людей. 
Особенностью музея является большое разнообразие исторической росписи.

<p/>Объем музейных фондов насчитывает более 1000 единиц хранения. Коллекция состоит из подлинных 
археологических, палеонтологических, этнографических и нумизматических экспонатов. Преобладают 
находки из Марийского края, также имеются находки, обнаруженные в соседних регионах: в античных 
городах Северного Причерноморья, Великом Новгороде и на Бородинском поле. 

<p/>Экспозиция музея расположена в семнадцати витринах и поделена на восемь разделов. 
В нем находятся уникальные подлинные экспонаты по всем историческим эпохам. Средствами музейной 
экспозиции показывается ход исторического развития, начиная от каменного века и заканчивая ХХ столетием, 
включая палеонтологию, эпоху раннего металла, античность, средневековье, Отечественную войну 1812 г. и 
Великую Отечественную войну 1941–1945 гг. Витрины размещены так, что каждый раздел посвящен определенной 
эпохе или исторической теме. 

<p/>В музее проходят обзорные и тематические экскурсии для всех категорий населения республики, а 
также уроки истории, лекции, семинары, конференции, встречи с интересными людьми, занятия археологического 
объединения. Использование современных компьютерных технологий позволяет сделать музейную работу более 
интересной и увлекательной.

<p/>Музей сотрудничает с научными, культурными и образовательными учреждениями РМЭ и РФ. 
Музей дважды становился лауреатом республиканского смотра-конкурса музеев образовательных 
учреждений и был признан одним из лучших школьных музеев республики (2005, 2008). В журнале 
посетителей насчитывается более 600 проведенных экскурсий, количество посетителей составляет свыше 10 тыс. человек.

<p/>Читая  книгу отзывов, находим наиболее точные слова, характеризующие наш музей, оставленные Еленой 
Николаевной Лазаревой, кандидатом педагогических наук, доцентом МГПИ, 01.03.2006 г.: «Была приятно 
шокирована глубокой, плодотворной деятельностью музея, на мой взгляд, далеко уже не школьного 
уровня, системностью деятельности руководителя, научностью представления экспозиций. Считаю, что 
музей служит тем уникальным средством формирования и развития личности, тем механизмом 
социализации школьников и воспитанием патриотических чувств наших детей, реальных, а не мистических».

<p/>По всем разделам экспозиции музея составлен подробный <a href="Ссылка на часы!!!"><font color=#696969>путеводитель</font></a> и <a href="/museum/presentation"><font color=#696969>презентация.</font></a>