<table>
	<tr>
		<td colspan="2">
			<font id="h1">Панов Игорь Иванович</font>
		</td>
	</tr>
	<tr>
		<td>
			<img src="/img/panov_i.png" width="200" height="300" align="left"/>
		</td>
		<td>
			<b>Инициатор, руководитель сайта</b>
			<ul>
				<li>Учитель истории МОБУ «Медведевская СОШ №2, 3» </li>
				<li>Педагог дополнительного образования при Медведевском районном доме детского творчества </li>
				<li>Руководитель объединения «Юный археолог»</li>
				<li>Основатель и руководитель школьного археологического музея</li>
				<li>Заслуженный учитель РФ </li>
			</ul>
		</td>
	</tr>
</table>

<hr/>

<table>
	<tr>
		<td colspan="2">
			<font id="h1">Емельянов Максим</font>
		</td>
	</tr>
	<tr>
		<td>
			<img src="/img/maxim_e.png" width="200" height="300" align="left"/>
		</td>
		<td>
			<p/>МОБУ "Медведевская СОШ №3"
			<p/><b>Инициатор-разработчик, конструктор сайта</b>
			<p/>Учусь в 9 А классе.
		</td>
	</tr>
</table>

<hr/>

<table>
	<tr>
		<td>
			<font id="h1">Леухин Алексей</font>
		</td>
	</tr>
	<tr>
		<td>
			<img src="/img/alexei_l.png" width="200" height="300" align="left"/>
		</td>
		<td>
			<p/>МОБУ "Медведевская СОШ №2"
			<p/><b>Дизайнер-разработчик, конструктор сайта
			<p/>(ulllan@yandex.ru)</b>

			<p/>Учусь в 11 А классе.
			<p/>Ещё в детстве меня привлекали различные механизмы и техника, поэтому я не расстаюсь с ними: создаю макеты танков периода ВОВ, участвую в олимпиадах по техническому творчеству и во многих других, где нужно включать голову – логику, нестандартное мышление, и руки – создавать проекты, изделия. В свободное время играю на электрогитаре.
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<p/>Но я даю себе не только умственную, но и физическую нагрузку – тренажёрный зал и глубоководное плавание, а именно фридайвинг. Им я уже  занимаюсь с 2010 года. Начал посещать тренировки плавания в бассейнах с 6 лет.
			<p/>В 5 классе мы начали изучать историю, и она меня тоже заинтересовала. После 5, 8, 9, 10 класса удалось побывать в пяти археологических экспедициях на раскопках Писеральского средневекового мольбища в Горномарийском районе; средневекового Большегорского городища в 
			Сернурском районе Республики Марий Эл и древнемарийского могильника X-XI вв. в д.Русениха Нижегородской области. С 2008 года являюсь членом Медведевского объединения «Юный археолог». 
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<div align="center">
				<iframe src="alexei_tabl.htm" width="680" height="520"></iframe>
			</div>
		</td>
	</tr>
</table>

<hr/>

<table>
	<tr>
		<td colspan="2">
			<font id="h1">Крылов Максим</font>
		</td>
	</tr>
	<tr>
		<td>
			<img src="/img/maxim_k.png" Width="200" Height="300" align="left"/>
		</td>
		<td>
			<p/>МОБУ "Медведевская СОШ №3"
			<p/><b>Разработчик сайта, копирайтер</b>
			<p/>Учусь в 9 А классе.
			<p/>Ежегодно участвую в различных олимпиадах и мероприятиях. Регулярно участвую в олимпиадах и конкурсах по физике и математике ("Олимпус", "Колосок", "Молодёжный физиологический чемпионат по физике" и т.д.). Люблю посещать культурно массовые мероприятия. Предпочитаю активный отдых. Занимался 6 лет в СДЮШОР по плаванью, достиг 3-его взрослого разряда. Участвую в соревнованиях  по волейболу, футболу и плаванью. Люблю слушать музыку, гулять и активный отдых.
		</td>
	</tr>
</table>

<hr/>

<table>
	<tr>
		<td colspan="2">
			<font id="h1">Алексеев Никита</font>
		</td>
	</tr>
	<tr>
		<td>
			<img src="/img/nikita_a.png" width="200" height="300" align="left"/>
		</td>
		<td>
			<p/>МОБУ "Медведевская СОШ №3"
			<p/><b>Разработчик, конструктор сайта</b>
			<p/>Учусь в 9 А классе.
			<p/>Увлекаюсь настольным теннисом, раньше занимался фигурным катанием, шахматами, люблю рисовать. Интересуюсь программированием, создаю виртуальные макеты комнат, немного изучаю язык html,  и т.п. Хорошо учусь. Мои любимые предметы: физика и  химия. Мне нравится смотреть фильмы, читать приключенческие книги. 
		</td>
	</tr>
</table>

<hr/>

<table>
	<tr>
		<td colspan="2">
			<font id="h1">Мальцев Алексей</font>
		</td>
	</tr>
	<tr>
		<td>
			<img src="/img/alexei_m.png" width="200" height="300" align="left"/>
		</td>
		<td>
			<p/>МОБУ «Медведевская гимназия»
			<p/><b>Разработчик сайта, копирайтер</b>
			<p/>Учусь в 11 А классе. 
			<P>Ежегодно участвую в районных олимпиадах по литературе и истории. Мои любимые предметы: история и литература, кроме того увлекаюсь археологией. Являюсь активным участником всероссийских молодёжных чемпионатов по географии, биологии, английскому языку и межрегиональной заочной физико-математической олимпиады «Авангард». Работа по истории образования в республике Марий Эл принесла мне диплом I степени всероссийского дистанционного конкурса «Вокруг меня гудит XX век».
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<p/>Каждый год участвую в республиканском литературном конкурсе чтецов «Волшебное русское слово».
			<p/>Кроме образовательных конкурсов представляю свои работы на республиканских выставках-конкурсах стендовых моделей и на районных выставках технического и прикладного творчества учащихся.
		</td>
	</tr>
</table>

<hr/>

<table>
	<tr>
		<td>
			<b>Выражаем благодарность за помошь в создании сайта:</b>
			<ul>
				<li>Тихоновой Софье МОБУ "Медведевская СОШ №3", 10 А класс</li>
				<li>Антоновой Алёне МОБУ "Медведевская СОШ №2", 9 Б класс</li>
				<li>Толстухину Максиму г. Йошкар-Ола "Лицей №11", 9 Б класс</li>
			</ul>
		</td>
	</tr>
</table>