<div style="width: 714px; margin: 0 auto;">
	<div id="showcase" class="showcase">

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/0.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/0.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/0_2.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/0_2.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/0_3.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/0_3.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/1.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/1.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/2.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/2.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/3.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/3.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/4.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/4.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/5.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/5.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/6.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/6.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/7.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/7.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/8.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/8.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/9.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/9.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/10.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/10.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/11.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/11.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/12.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/12.png" width="101px" />
			</div>
		</div>



		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/13.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/13.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/14.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/14.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/15.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/15.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/16.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/16.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/17.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/17.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/18.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/18.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/19.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/19.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/20.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/20.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/21.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/21.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/22.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/22.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/23.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/23.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/24.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/24.png" width="101px" />
			</div>
		</div>



				<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/25.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/25.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/26.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/26.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/27.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/28.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/29.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/29.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/30.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/30.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/31.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/31.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/32.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/32.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/33.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/33.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/34.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/34.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/33.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/33.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/34.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/34.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/35.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/35.png" width="101px" />
			</div>
		</div>


				<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/36.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/36.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/37.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/37.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/38.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/38.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/39.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/39.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/40.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/40.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/41.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/41.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/42.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/42.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/43.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/43.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1988-1990/44.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1988-1990/44.png" width="101px" />
			</div>
		</div>

	</div>
</div>

<div align="center">Используйте кнопки "Назад" и "Далее" или стрелки "&#8592;" и "&#8594;" на клавиатуре для перелистывания слайдов</div>