<div style="width: 714px; margin: 0 auto;">
	<div id="showcase" class="showcase">

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1987/0.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1987/0.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1987/1.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1987/1.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1987/2.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1987/2.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1987/3.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1987/3.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1987/4.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1987/4.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1987/5.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1987/5.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1987/6.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1987/6.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1987/7.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1987/7.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1987/8.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1987/8.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1987/9.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1987/9.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1987/10.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1987/10.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1987/11.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1987/11.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/1_1987/12.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/1_1987/12.png" width="101px" />
			</div>
		</div>
	</div>
</div>

<div align="center">Используйте кнопки "Назад" и "Далее" или стрелки "&#8592;" и "&#8594;" на клавиатуре для перелистывания слайдов</div>