<div style="width: 714px; margin: 0 auto;">
	<div id="showcase" class="showcase">

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/2_1999-2000/0.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/2_1999-2000/0.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/2_1999-2000/0_2.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/2_1999-2000/0_2.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/2_1999-2000/1.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/2_1999-2000/1.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/2_1999-2000/2.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/2_1999-2000/2.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/2_1999-2000/3.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/2_1999-2000/3.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/2_1999-2000/4.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/2_1999-2000/4.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/2_1999-2000/5.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/2_1999-2000/5.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/2_1999-2000/6.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/2_1999-2000/6.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/2_1999-2000/7.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/2_1999-2000/7.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/2_1999-2000/8.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/2_1999-2000/8.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/2_1999-2000/9.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/2_1999-2000/9.png" width="101px" />
			</div>
		</div>
	</div>
</div>

<div align="center">Используйте кнопки "Назад" и "Далее" или стрелки "&#8592;" и "&#8594;" на клавиатуре для перелистывания слайдов</div>