<div style="width: 714px; margin: 0 auto;">
	<div id="showcase" class="showcase">

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/0.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/0.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/1.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/1.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/2.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/2.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/3.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/3.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/4.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/4.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/5.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/5.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/6.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/6.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/7.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/7.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/8.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/8.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/9.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/9.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/10.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/10.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/11.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/11.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/12.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/12.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/13.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/13.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/14.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/14.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/15.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/15.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/16.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/16.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/17.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/17.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/18.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/18.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/19.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/19.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/20.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/20.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/21.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/21.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/22.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/22.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/23.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/23.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/24.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/24.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/25.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/25.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/26.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/26.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/27.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/27.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/28.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/28.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/29.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/29.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/30.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/30.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/31.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/31.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/32.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/32.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/33.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/33.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/34.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/34.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/35.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/35.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/36.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/36.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/37.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/37.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/38.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/38.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/39.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/39.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2005/40.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2005/40.png" width="101px" />
			</div>
		</div>
	</div>
</div>

<div align="center">Используйте кнопки "Назад" и "Далее" или стрелки "&#8592;" и "&#8594;" на клавиатуре для перелистывания слайдов</div>