<div style="width: 714px; margin: 0 auto;">
	<div id="showcase" class="showcase">

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/0.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/0.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/1.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/1.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/2.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/2.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/3.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/3.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/4.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/4.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/5.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/5.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/6.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/6.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/7.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/7.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/8.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/8.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/9.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/9.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/10.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/10.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/11.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/11.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/12.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/12.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/13.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/13.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/14.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/14.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/15.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/15.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/16.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/16.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/17.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/17.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/18.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/18.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/19.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/19.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/20.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/20.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/21.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/21.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/22.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/22.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/23.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/23.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/24.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/24.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/25.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/25.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/26.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/26.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/27.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/27.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/28.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/28.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/29.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/29.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/30.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/30.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/31.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/31.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/32.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/32.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/33.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/33.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/34.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/34.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/35.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/35.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/36.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/36.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/37.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/37.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/38.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/38.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/39.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/39.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/40.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/40.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/41.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/41.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/42.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/42.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/43.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/43.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/44.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/44.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/45.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/45.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/46.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/46.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/47.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/47.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/48.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/48.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/49.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/49.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/50.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/50.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/51.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/51.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/52.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/52.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/53.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/53.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/54.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/54.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/55.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/55.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/56.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/56.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2006/57.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2006/57.png" width="101px" />
			</div>
		</div>

	</div>
</div>

<div align="center">Используйте кнопки "Назад" и "Далее" или стрелки "&#8592;" и "&#8594;" на клавиатуре для перелистывания слайдов</div>