<div style="width: 714px; margin: 0 auto;">
	<div id="showcase" class="showcase">

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/0.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/0.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/1.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/1.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/2.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/2.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/3.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/3.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/4.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/4.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/5.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/5.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/6.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/6.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/7.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/7.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/8.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/8.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/9.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/9.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/10.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/10.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/11.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/11.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/12.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/12.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/13.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/13.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/14.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/14.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/15.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/15.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/16.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/16.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/17.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/17.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/18.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/18.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/19.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/19.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/20.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/20.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/21.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/21.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/22.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/22.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/23.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/23.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/24.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/24.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/25.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/25.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/26.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/26.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/27.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/27.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/28.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/28.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/29.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/29.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/30.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/30.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/3_2007/31.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/3_2007/31.png" width="101px" />
			</div>
		</div>
	</div>
</div>

<div align="center">Используйте кнопки "Назад" и "Далее" или стрелки "&#8592;" и "&#8594;" на клавиатуре для перелистывания слайдов</div>