<div style="width: 714px; margin: 0 auto;">
	<div id="showcase" class="showcase">

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2011/0.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2011/0.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2011/1.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2011/1.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2011/2.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2011/2.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2011/3.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2011/3.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2011/4.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2011/4.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2011/5.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2011/5.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2011/6.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2011/6.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2011/7.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2011/7.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2011/8.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2011/8.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2011/9.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2011/9.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2011/10.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2011/10.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2011/11.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2011/11.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2011/12.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2011/12.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2011/13.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2011/13.png" width="101px" />
			</div>
		</div>
		
	</div>
</div>

<div align="center">Используйте кнопки "Назад" и "Далее" или стрелки "&#8592;" и "&#8594;" на клавиатуре для перелистывания слайдов</div>