<div style="width: 714px; margin: 0 auto;">
	<div id="showcase" class="showcase">

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/0.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/0.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/1.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/1.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/2.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/2.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/3.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/3.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/4.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/4.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/5.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/5.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/6.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/6.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/7.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/7.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/8.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/8.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/9.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/9.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/10.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/10.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/11.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/11.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/12.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/12.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/13.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/13.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/14.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/14.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/15.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/15.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/16.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/16.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/17.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/17.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/18.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/18.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/19.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/19.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/20.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/20.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/21.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/21.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/22.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/22.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/23.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/23.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/24.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/24.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/25.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/25.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/26.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/26.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/27.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/27.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/28.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/28.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/29.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/29.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/30.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/30.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/31.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/31.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/32.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/32.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/33.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/33.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/34.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/34.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/img/gallery/4_2012/35.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="/img/gallery/4_2012/35.png" width="101px" />
			</div>
		</div>
	</div>
</div>

<div align="center">Используйте кнопки "Назад" и "Далее" или стрелки "&#8592;" и "&#8594;" на клавиатуре для перелистывания слайдов</div>