<table>
	<td width="625">
		<font id="h1">Участие в археологических экспедициях</font>
	</td>
	<td>
		<a href="/union/expeditions/presentation">
			<img src="/img/presentation.png" onMouseOver="this.src='/img/exp_presentation.png'"; onMouseOut="this.src='/img/presentation.png'">
		</a>
	</td>
</table>

<p/>Важнейшим направлением работы кружка стало участие школьников в археологических экспедициях, 
разведках и слетах. Первые экспедиции были очень сложны и по характеру раскопок, условиям быта, 
отсутствию опыта и возрастному составу детей от 11 до 13 лет. Они выявили костяк будущих 
экспедиционных «фанатов», многие из которых до сих пор поддерживают связь с кружком.	 

<p/>На первом этапе становления коллектива в экспедиции произошло установление традиций, 
которые в дальнейшем передавались из поколения в поколение: посвящение в археологи, посещение 
культурных достопримечательностей, взаимопомощь, высокая дисциплина.

<p/>С 1987 по 1990 гг. в Среднем Поволжье на территории Горномарийского и Медведевского 
районов исследовались Абашевские курганы эпохи бронзы. Были раскопаны десятки погребений, 
найдено много сосудов хорошей сохранности. В орнаменте одного из них оказалась заложена календарная система.

<p/>На левобережье Волги в устье р. Илеть Звениговского района в 1991 г. проходили раскопки 
интереснейшего комплекса – Мари-Луговской стоянки. На протяжении нескольких тысячелетий это 
место привлекало древних людей, здесь представлены археологические культуры разных эпох. 
Были обнаружены фрагменты древней посуды и кремневые орудия: ножевидные пластины, 
скребки, тесла и фрагменты украшений. 

<p/>Большой интерес вызвали у ребят сезоны 1992–1994 гг., когда они принимали участие 
в раскопках поселений эпохи бронзы в зоне Чебоксарского затопления близ деревень 
Дубовая (Килемарский район), Починок и Галанкина гора в Юринском районе. Многое из 
археологических ценностей потеряно безвозвратно в результате затопления, часть памятников 
старины оказалась под водой, на дне водохранилища, другая часть разрушается в результате обвала берегов».

<p/>Сезон 1995 года выделяется тем, что впервые кружковцам довелось участвовать в раскопках 
средневекового марийского селища XIII–XIV вв., расположенного в центре деревни Красное Селище 
близ реки Суры Горномарийского района. Раскопки подобных поселений в нашем крае ранее не 
проводились, участники экспедиции чувствовали себя первооткрывателями. 

<p/>Культурный слой представлен черным, сильно гуммированным заполнением, интенсивность 
которого приблизительно одинакова на территории всего раскопа. В раскопе обнаружена хозяйственная 
постройка с углубленным подполом. Наиболее массовыми находками являются фрагменты керамики, 
из которых полностью или частично реконструируются лишь несколько сосудов. Керамический 
материал состоит из лепной и гончарной посуды. На селище найдены изделия из черного 
(ключи, фрагменты замков, гвозди, ножи, ложка, пряжки, обломки кресала и т.д.) и 
цветного металлов, несколько костяных поделок и пряслиц.

<p/>Кроме экспедиций, актив кружка первого периода успешно участвовал в 6 республиканских 
и всероссийских <a href="/union/slet">археологических и краеведческих слетах</a>.

<p/>Второй этап объединения  «Юный археолог» охватывает период с 1997 по 2002 гг. Основной 
категорией детей были школьники одного класса, где классным руководителем являлся Игорь 
Иванович Панов. Наиболее яркими представителями участниками этого периода  были: Вячеслав  
Кудрявцев, Алексей Головунин, Татьяна  Беневоленская,  Марина Киреева, Татъяна Скобелева, 
Светлана Лебедева, Анна Лопарева, Евгений Сушенцов, Дмитрий Леухин, Андрей Туманов, 
поступивший в 2002 г. на исторический факультет МарГУ (в настоящее время младший научный сотрудник).
 
<p/>В 1998 г. после 7 класса юные археологи копали историческую часть города Козьмодемьянска, 
помогая установить местонахождение острога, представлявшего собой административное 
ядро города. В ходе разведки была произведена фиксация археологических находок на раскопе. 
В это же время были зарисованы и описаны некоторые вещи из археологической 
коллекции Козьмодемьянского музея. 

<p/>С 1999 по 2000 гг. актив группы помогал исследовать Юринскую стоянку эпохи бронзы, 
расположенную на песчаном мысе боровой террасы левого берега реки Волги рядом с замком Шереметева. 

<p/>Итогом экспедиций 2000–2003 гг. были раскопки широко известного Мало-Сундырского 
городища XIV–XV веков, расположенного в Марийском правобережье р. Волги на горе 
Аламнер под руководством док. ист. наук Татьяны Багишевны Никитиной – заместителя директора МарНИИЯЛИ. 
  
<p/>«Аламнер (город на горе), Оролы курык (сторожевая гора), Чалымский городок, Сундырская Гора, 
Мало-Сундырское городище, Важнангерское городище – под такими названиями это место сохранилось 
в памяти народа и исторических источниках, каждое название имеет свою легенду и связано с 
конкретными событиями. Начиная, с 1958 года на городище проводились археологические раскопки.

<p/>Памятник расположен на высокой правобережной террасе р. Волги на стрелке, образованной правыми 
берегами р. Волги и р. Малый Сундырь. Площадка имеет неправильную форму. Ее длина с запада на 
восток 270 м, ширина у вала 270 м, а ближе к мысу 150 м. Северо-восточный склон со стороны 
Волги возвышается на 78 м над поймой р. Волги, юго-западный склон и мысовая часть имеют высоту 
71 м от поймы р. Малый Сундырь. В 2000 году на городище был составлен паспорт и памятник стал 
одним из девяти объектов федерального значения в Республике Марий Эл.

<p/>С 2003 г. начинается новый этап объединения «Юный археолог», связанный со сменой поколений 
и проведением занятий в археологическом музее Медведевской СОШ №3. Участниками экспедиций 
стали представители двух школ, Медведевской СОШ№ 2,3. Актив группы: Евгений Тихомиров, 
Алексанндр Третъяков, Надежда Алманова, Марина Домрачева, Ирина Михайлова, Мария Рыбалко, 
Алексей Лавлинский, Антон Кобяков,  Антон Кавардаков, Регина Зурканаева, Сергей Васьков, 
Олег Сорокин, Анна Романова, Александра Ненарокова, Алексей Леухин и Екатерина Полянина 
ныне студентка исторического факультета МарГУ.

<p/>В 2004–2006 гг. кружковцы участвовали в раскопках уникального памятника эпохи бронзы 
Юринского могильника сейминско-турбинской культуры, который расположен в устье реки 
Ветлуги. Ученым с помощью школьников удалось обнаружить несколько погребений, 
наибольший интерес представляет найденное  погребение предположительно вождя, а в нем 
уникальные вещи – бронзовые копье, топор и нож».

<p/>В 2007 г. экспедиция проводилась в Юринском районе РМЭ в устье Ветлуги. Научное 
руководство осуществлял док. ист. наук, заведующий сектором археологии МарНИЯЛИ, Валерий 
Валентинович Никитин. В программе лагеря предусматривались раскопки Сутырского поселения 
волосовской культуры эпохи неолита. Раскопом изучены отдельные хозяйственные и столбовые ямки, 
кострища и собрана коллекция кремневых предметов и ранненеолитической посуды с накольчатым орнаментом. 
Памятник интенсивно разрушается водами Чебоксарской ГЭС.

<p/>Экспедиция 2008 г. осуществляла  раскопки Писеральского средневекового мольбища в Горномарийском 
районе, на берегу реки Юнга. Руководителем экспедиции была Диана Юрьевна Ефремова, 
канд. ист. наук, старший научный сотрудник МарНИИЯЛИ. В экспедиции участвовало 13 
учащихся из трех школ п. Медведево. Выявлены три кострища, железные предметы и кости домашних животных.

<p/>В 2011 г.  были раскопки средневекового Большегорского городища в Сернурском 
районе РМЭ под руководством канд. ист. наук, старшего научного сотрудника МарНИИЯЛИ Алексея Викторовича 
Михеева. Были найдены фрагменты керамики, следы кострища и крупный осколок серпа. 

<p/>В 2012 г. группа объединения «Юный археолог» в составе  научных  сотрудников МарНИИЯЛИ 
под руководством д.и.н. Татьяны Багишевны Никитиной приняли участие в экспедиции, которая проходила в 
Нижегородской области, в Воскресенском районе, близ  деревни Русениха. Объектом изучения стали захоронения 
древних марийцев 9–11 века (Русенихский могильник). Лагерь располагался на лесной возвышенности, на берегу 
реки Ветлуги.Всего в ходе раскопок было найдено 3 погребальных и 3 жертвенных комплексов. <br>В том числе были найдены женские 
браслеты, перстни, наконечники стрел и орудия труда:  тёсла, долота и топоры. 

<p/>Экспедиция 2013 г. недавно вернулась с раскопок Ардинского городища в Килемарском районе под руководством сотрудника МарНИИЯЛИ Михеева А.В. 
Площадка расположена на мысе в устье реки Арда длиной 58 и шириной до 30 м, выступающий от коренной террасы р. Арда с востока на запад. 
Первые свидетельства долговременногоо жилья на этой площадке относятся к эпохе раннего железного века (VII-VI вв. до н.э.). 
Вторично мыс, удобным для основания поселения находят древнемарийские племена. В третий раз долговременное поселение (селище) было основано уже в XIV-XV вв. н.э. 
и связано также с марийскими племенами. Экспедиция длилась 8 дней и за это время ребята сделали большую работу. 
Было найдено большое количество интересный фрагментов керамики и костей животных.	

<div align="center">
	<iframe src="/expeditions.html" width="714" height="750"></iframe> 
</div>