<div>
	<iframe id="photo_12" src="/12photo.html" width="740" height="440" scrolling="no"></iframe> 
</div>

<div align="center">
	<font color="a25f2a" size="6" font-weight="600"><strong>ПРОЕКТ: «ВИРТУАЛЬНЫЙ МУЗЕЙ»</strong></font>
	<br/><font color="a25f2a" align="center" font-style="bold" size=5 face="Monotype Corsiva">(Медведевский школьный археологический музей)</font>
	<p/><font id="h1">www.arhmuzey.ru</font>
</div>
<p/>Наш адрес: 425200 Республика Марий Эл пос. Медведево МОБУ «Медведевская СОШ №3 им. 50-летия Медведевского района» E-mail: medvmuseum2004@yandex.ru
<p/>Уважаемые друзья, жители и гости Республики Марий Эл, учителя, краеведы, любители родной земли, отечественной и всемирной истории! Мы приветствуем вас на нашем сайте.
<p/>Сайт посвящен не только археологическому музею, но и 27- летней истории Медведевского объединения "Юный археолог". 
<p/>Наш проект актуален. Он рассчитан на широкую аудиторию. В условиях все возрастающего интереса общества к истории сайт знакомит посетителей с уникальным школьным археологическим музеем, аналогов которому нет в стране. Музей, являясь по сути краеведческим, фактически стал музеем всемирной истории.
<p/>В музее представлены экспонаты по всем историческим эпохам. Экспозиции расположены в 17 витринах и поделены на восемь основных разделов. Средствами музейной экспозиции показывается ход исторического развития, начиная от каменного века и заканчивая ХХ столетием, включая палеонтологию, эпоху раннего металла, античность, средневековье, Отечественные войны 1812 г. и 1941–1945 гг. В нем удалось через диалог культур в пространстве музея показать историческую связь эпох, народов и поколений. 
<p/>Мы придумали и создали «изюминки», дополняющие путеводитель. Например: 
<ul>
	<li>
		<strong>«часы»</strong>, отсчитывающие время истории по эпохам. При нажатии курсора можно остановить время секундной стрелкой и совершить виртуальную экскурсию по всем разделам школьного музея;
	</li>

	<li>
		<strong>«шар»</strong>, включающий в себя 100 фотографий, отражает всемирную историю и дает возможность подробно познакомиться с экспозициями и отдельными экспонатами;
	</li>

	<li>
		<strong>«лента времени»</strong> включает в себя те же 100 фотографий с добавлением функции их перелистывания в режиме просмотра;
	</li>

	<li>
		<strong>«телевизор»</strong>, переносит пользователя на просмотр презентаций по основным разделам и подразделам сайта. 
	</li>
</ul>
<p/>Мы надеемся, что сайт заинтересует всех любителей истории, поэтому с удовольствием примем ваши пожелания по улучшению сайта.