<font id="h1">Общие сведения</font>
<table>
	<td>
		<img src="/img/panov.png">
	</td>

	<td>
		<p/>ПАНОВ ИГОРЬ ИВАНОВИЧ, родился 1960 г.  в пос. Орешное Манского района Красноярского края. 
		До 1971 г. обучался в Орешенской начальной школе, затем в Руэмской средней школе Республики Марий Эл. 
		Окончил исторический факультет Марийского государственного педагогического института им. Н.К. 
		Крупской в 1985 г. Педагогический стаж – 28 лет. 
		<p/>В 1985 – 1987 гг. учитель истории, зам. директора по 
		учебной работе Шеклянурской неполной средней школы. С 1988 г. – учитель истории МОБУ «Медведевская СОШ №2». 
		Педагог дополнительного образования при Медведевском  районном доме детского творчества (1986 - 2013). 
		Руководитель объединения «Юный археолог» (2007) и  школьного археологического музея МОБУ «Медведевская СОШ №3» 
		(2003).
	</td>
</table>

<ul>
	<li>Заслуженный учитель РФ (2003)</li>
	<li>Заслуженный работник образования Республики Марий Эл (2010)</li>
	<li>Отличник народного просвещения РФ (1995)</li>
	<li>Лауреат Премии президента РФ  Победитель конкурса лучших учителей Российской Федерации (2006, 2011)</li>
	<li>Член Союза краеведов России (2011)</li>
	<li>Член Всероссийской ассоциации учителей истории и обществознания (2011)</li>
</ul>
<p/>
<ul>
	<li>Учитель высшей категории (1991)</li>
	<li>Окончил двухгодичные курсы соискателей ученой степени кандидата педагогических наук при РИПКРО (Москва, 1992) </li>
	<li>Лауреат республиканского конкурса «Учитель года – 1995»</li>
</ul>
<p/>
<ul>
	<li>Руководитель  лауреатов всероссийских конкурсов и  олимпиад по археологии и школьному краеведению (1997 – 2012)</li>
	<li>Участник всероссийских и международных конкурсов, семинаров, конференций, форумов и съездов (1990 – 2012)</li>
</ul>