<img src="/img/med_logo.png" align="center"/>

<table width="400" align="center">
	<td>
		<img src="/img/med_leader.jpg"/>
	</td>
	<td align="right">
		Глава администрации муниципального образования "Медведевский муниципальный район" <b>Шагиахметов Даиль Габдуллович</b>
	</td>
</table>


<p/><b>Медведево</b> (мар. Маскасола) — посёлок городского типа, административный центр Медведевского района Республики Марий Эл. 
<p/>Деревня Медведево возникла во второй половине XVII века. Основателем селения был выходец из деревни Березовская, крестьянин Гавриил Яковлев по прозвищу "Медведь".
<p/>Поселок расположен на берегах реки Шой (бассейн Малой Кокшаги), непосредственно примыкает с запада к территории города Йошкар-Ола, с которым имеется троллейбусное и автобусное сообщение. Железнодорожная станция Аксаматово.
<p/>Население — 18,2 тыс. жителей.
<p/>В посёлке имеется: 3 общеобразовательные школы, профессиональное училище, Центр технического творчества, Дом детского творчества, 5 дошкольных учреждений. 
<p/>Широкой известностью жителей поселка пользуются учреждения культуры: Центр досуга, Молодежный центр, детская и центральная библиотеки, 
школа искусств, краеведческий музей, спорткомплекс. 
<p/>Достопримечательностью поселка стал мини-зоопарк. Медведево украсил Храм иконы Божией Матери «Державная» и мечеть «Гайша».
<p/>Медведевское городское поселение награждено Дипломом Правительства Российской Федерации III степени по итогам Всероссийского конкурса на звание «Самое благоустроенное городское (сельское) поселение России» за 2011 год.

<p/><font id="h1">Район – общая информация</font>
<p/>Медведевский муниципальный район расположен в центральной части Республики Марий Эл. На севере он граничит с 
Кировской областью и Оршанским районом, на востоке с Советским районом, на юге с Звениговским районом, на западе с Килемарским районом. Общая площадь составляет 2,8 тыс.кв.км. 
<p/>Район образован в декабре 1943 года. 
<p/>Административным центром является поселок городского типа Медведево, расположен в 2 км от столицы республики г. Йошкар-Ола. 
<p/>По состоянию на 1 января 2010 года численность постоянного населения района составляет 68,6 тыс. человек, в том числе городского – 22,0 тыс. чел; сельского - 46,6 тыс. чел. 
<p/>Число населенных пунктов – 160. 
<p/>Медведевский район является наиболее экономически развитым районом Республики. В этом немалый вклад промышленного, сельскохозяйственного комплекса района, который определяет не только динамику развития реального сектора экономики, но и социально-экономическое положение района. 
<p/>Медведевский муниципальный район в течение 6 последних лет неоднократно награждался дипломами Правительства Республики Марий Эл по итогам соревнования между муниципальными образованиями.   