<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Археологический музей</title>

		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/gallery.css">
		<link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css">
		<link rel="stylesheet" type="text/css" href="/css/expeditions.css">
		<link rel="stylesheet" type="text/css" href="/css/imageright.css">


		<script src="/js/jquery-1.10.1.min.js"></script>
		<script src="/js/menu.js"></script>
		<script src="/js/scroll.js"></script>
		
		<script src="/js/vitrines.js"></script>
		<script src="/js/jquery.fancybox.js"></script>

		<script src="/js/gallery.js"></script>
		<script src="/js/gallery-settings.js"></script>

		<script src="/js/expeditions.js"></script>
		<script src="/js/exp-settings.js"></script> 

		<script src="/js/image.pack.js"></script>
		<script src="/js/imageright.js"></script>
		<script src="/js/image-settings.js"></script>
	</head>
<body>
<div id="poster">
	<a href="/union/history"><img src="/img/poster1.png" width="289" height="284" title="Переход в раздел Объединение"/></a>
	<a href="/"><img src="/img/poster2.png" width="442" height="284" title="Переход на Главную"/></a>
	<a href="/reviews"><img src="/img/poster3.png" width="409" height="284" title="Переход в Книгу отзывов"/></a>
</div>

<div id="head-text">
	<font>МЕДВЕДЕВСКИЙ ШКОЛЬНЫЙ АРХЕОЛОГИЧЕСКИЙ МУЗЕЙ</font>
</div>

<div id="header">
	<table cellpadding="0" cellspacing="0" height="40" width="1140">
		<tr>
			<td>
				<a href="/"><img src="/img/2-1.jpg"/></a>
			</td>
			<td>
				<a href="/events"><img src="/img/2-2.jpg"/></a>
			</td>
			
			<td>
				<ul id="main-menu">
					<li><img src="/img/2-3.jpg"/>
						<ul>
    						<li><a href="/union/history">Из истории</a></li>
    						<li><a href="/union/expeditions">Экспедиции</a></li>
    						<li><a href="/union/slet">Слёты</a></li>
    						<li><a href="/union/competitions">Конкурсы</a></li>
    						<li><a href="/union/creation">Создание музея</a></li>
						</ul>
					</li>
				</ul>
			</td>
			<td>
				<ul id="main-menu">
					<li><img src="/img/2-4.jpg"/>
						<ul>
    						<li><a href="/museum/history">История создания</a></li>
    						<li><a href="/museum/collection">Коллекция музея</a></li>
    						<li><a href="/museum/concept">Концепция музея</a></li>
    						<li><a href="/museum/working">Деятельность музея</a></li>
    						<li><a href="/museum/results">Итоги работы</a></li>
    						<li><a href="/museum/docs">Документы</a></li>
						</ul>
					</li>
				</ul>
			</td>
			<td>
				<ul id="main-menu">
					<li><img src="/img/2-5.jpg"/>
						<ul>
			    			<li><a href="/guidebook/paleontology">Палеонтология</a></li>
    						<li><a href="/guidebook/stone">Эпоха камня</a>
								<ul>
        							<li><a href="/guidebook/stone/paleolithic">Палеолит</a></li>
        							<li><a href="/guidebook/stone/mesolithic">Мезолит</a></li>
        							<li><a href="/guidebook/stone/neolithic">Неолит</a></li>
								</ul>
							</li>
    						<li><a href="/guidebook/metal">Ранний металл</a></li>
    						<li><a href="/guidebook/antiquity">Античность</a>
								<ul>
        							<li><a href="/guidebook/antiquity/city">Античные города</a></li>
        							<li><a href="/guidebook/antiquity/olbia">Ольвия</a></li>
        							<li><a href="/guidebook/antiquity/chersonesus">Херсонес</a></li>
								</ul>
							</li>
    						<li><a href="/guidebook/mari">Марийцы XIII-XVIII вв.</a></li>
    						<li><a href="/guidebook/russ_russia">Русь - Россия</a>
								<ul>
        							<li><a href="/guidebook/russ_russia/novgorod">Великий Новгород</a></li>
        							<li><a href="/guidebook/russ_russia/borodino">Бородино 1812 г.</a></li>
        							<li><a href="/guidebook/russ_russia/ww2">ВОВ 1941-1945 гг.</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</td>
			
			<td>
				<a href="/about"><img src="/img/2-6.jpg"/></a>
			</td>
		</tr>
	</table>
</div>

<div id="box">
	<div id="left">
		<ul id="left-sidebar">
			<li><a href="#" onclick="openMenu('sub_menu_1');return(false)">Медведево</a>
  				<ul id="sub_menu_1">
  					<li><a href="/medvedevo/info">Общие сведения</a></li>
  					<li><a href="/medvedevo/gallery">Галерея</a></li>
  				</ul>
  			</li>
			<li><a href="#" onclick="openMenu('sub_menu_2');return(false)">Руководитель музея</a>
  				<ul id="sub_menu_2">
  					<li><a href="/leader/info">Общие сведения</a></li>
  					<li><a href="/leader/conference">Конференции</a></li>
  					<li><a href="/leader/system">Метод. система</a></li>
  					<li><a href="/leader/presentation">Презентация</a></li>
  					<li><a href="/leader/publication">Публикации</a></li>
  				</ul>
  			</il>
			<li><a href="/reviews">Отзывы о музее</a></li>
			<li><a href="/media">СМИ о нас</a></li>
			<li><a href="#" onclick="openMenu('sub_menu_5');return(false)">Наши достижения</a>
  				<ul id="sub_menu_5">
  					<li><a href="/achievements/russia">Всероссийские</a></li>
  					<li><a href="/achievements/republic">Республиканские</a></li>
  				</ul>
  			</li>
			<li><a href="/pride">Гордость объединения</a></li>
			<li><a href="#" onclick="openMenu('sub_menu_8');return(false)">Мультимедиа</a>
  				<ul id="sub_menu_8">
  					<li><a href="/photo_archive/expeditions">Экспедиции</a></li>
  					<li><a href="/photo_archive/competitions">Конкурсы</a></li>
  					<li><a href="/photo_archive/museum">Музей</a></li>
  					<li><a href="/video_archive">Видео</a></li>
  				</ul>
  			</li>
			<li><a href="/map">Карта сайта</a></li>
			<li><a href="/creators">Создатели сайта</a></li>
			<li>
				<a> 
				</a>
			</li>
			<li>
				<a> 
				</a>
			</li>
		</ul>
	</div>

	<div id="right">
		<a href="/clock"><img src="/img/clock.gif" width="190" height="247"/></a>
		<br/>
		<div class="ImageMenu">
  			<ul>
				<li id="sphere"><a href="/sphere"><span>Шар-слайдшоу</span></a></li>
    			<li id="tapetime"><a href="/tapetime"><span>Лента времени</span></a></li>
  			</ul>
		</div>

	</div>

	<div id="content"> 
		<%= yield %>
	</div>

	<div id="footer">
		Сайт создан <a href="/creators">учениками трех медведевских школ</a> под руководством учителя истории 
		<a href="/leader/info">Панова Игоря Ивановича.</a> 
		<br/>Сайт создавался без использования "конструктора сайтов" 
	</div>
</div>

<div id="top-link">
	<a href="#top">&#9650; Наверх</a>
</div>
</body>
</html>