<ul id="dec-off">
	<li>1. <a href="/">Главная</a></li>
	<li>2. <a href="/events">События</a></li>
	<li>3. Музей</li>
	<ul id="dec-off">
		<li>3.1 <a href="/museum/history">История создания</a></li>
		<li>3.2 <a href="/museum/collection">Коллекция музея</a></li>
		<li>3.3 <a href="/museum/concept">Концепция музея</a></li>
		<li>3.4 <a href="/museum/working">Деятельность музея</a></li>
		<li>3.5 <a href="/museum/results">Итоги работы</a></li>
		<li>3.6 <a href="/museum/presentation">Документы</a></li>
	</ul>

	<li>4. Путеводитель</li>
		<ul id="dec-off">
			<li>4.1 <a href="/guidebook/paleontology">Палеонтология</a></li>
			<li>4.2 <a href="/guidebook/stone">Эпоха камня</a></li>
				<ul id="dec-off">
					<li>4.2.1 <a href="/guidebook/stone/paleolithic">Палеолит</a></li>
					<li>4.2.2 <a href="/guidebook/stone/mesolithic">Мезолит</a></li>
					<li>4.2.3 <a href="/guidebook/stone/neolithic">Неолит</a></li>
				</ul>
			<li>4.3 <a href="/guidebook/metal">Ранний металл</a></li>
			<li>4.4 <a href="/guidebook/antiquity">Античность</a></li>
				<ul id="dec-off">
					<li>4.4.1 <a href="/guidebook/antiquity/city">Античные города</a></li>
					<li>4.4.2 <a href="/guidebook/antiquity/olbia">Ольвия</a></li>
					<li>4.4.3 <a href="/guidebook/antiquity/chersonesus">Херсонес</a></li>
				</ul>
			<li>4.5 <a href="/guidebook/mari">Марийцы XIII-XVIII вв.</a></li>
			<li>4.6 <a href="/guidebook/russ_russia">Русь - Россия</a></li>
				<ul id="dec-off">
					<li>4.6.1 <a href="/guidebook/russ_russia/novgorod">Великий Новгород</a></li>
					<li>4.6.2 <a href="/guidebook/russ_russia/borodino">Бородино - 1812 г.</a></li>
					<li>4.6.3 <a href="/guidebook/russ_russia/ww2">ВОВ 1941-1945 гг.</a></li>
				</ul>
		</ul>
	<li>5. Археологическое объединение</li>	
		<ul id="dec-off">
			<li>5.1 <a href="/union/history">Из истории</a></li>
			<li>5.2 <a href="/union/expeditions">Экспедиции</a></li>
			<li>5.3 <a href="/union/slet">Слёты</a></li>
			<li>5.4 <a href="/union/competitions">Конкурсы</a></li>
			<li>5.5 <a href="/union/creation">Создание музея</a></li>
		</ul>
	<li>6. <a href="http:\\forum.arhmuzey.ru">Форум</a></li>

	<li>7. Медведево</li>	
		<ul id="dec-off">
			<li>7.1 <a href="/info">Общее сведения</a></li>
			<li>7.2 <a href="/gallery">Галерея</a></li>
		</ul>
	<li>8. Руководитель музея</li>	
		<ul id="dec-off">
			<li>8.1 <a href="/leader/info">Общие сведения</a></li>
			<li>8.2 <a href="/leader/conference">Конференции</a></li>
			<li>8.3 <a href="/leader/system">Методическая система</a></li>
			<li>8.4 <a href="/leader/presentation">Презентация</a></li>
			<li>8.5 <a href="/leader/publication">Публикации</a></li>
		</ul>
	<li>9. <a href="###########">Лента времени</a></li>	
	<li>10. <a href="/reviews">Отзывы о музее</a></li>	
	<li>11. <a href="/media">СМИ о нас</a></li>	
	<li>12. Наши достижения</li>	
		<ul id="dec-off">
			<li>12.1 <a href="/achievements/russia">Всероссийские</a></li>
			<li>12.2 <a href="/achievements/republic">Республиканские</a></li>
		</ul>
	<li>13. <a href="/pride">Гордость объединения</a></li>	
	<li>14. Мультимедиа</li>	
		<ul id="dec-off">
			<li>14.1 <a href="/photo_archive/expeditions">Экспедиции</a></li>
			<li>14.2 <a href="/photo_archive/competitions">Конкурсы</a></li>
			<li>14.3 <a href="/photo_archive/museum">Музей</a></li>
			<li>14.4 <a href="/video_archive">Видео</a></li>
		</ul>
	<li>15. <a href="/map">Карта сайта</a></li>	
	<li>16. <a href="/creators">Создатели сайта</a></li>		
</ul>