<div align="center"><font id="h1">МАРИЙСКИЙ КРАЙ</font></div>
<p/><img src="/img/mari-b.png" align="left">
В 
<a class="fancybox-effects-c" href="/img/base/59.jpg">витрине 9</a> 
и 
<a class="fancybox-effects-c" href="/img/base/65.jpg">витрине 10</a> 
размещены экспонаты средневековья Марийского края. Во второй половине первого тысячелетия н.э. в Волго-Вятском междуречье шло формирование древнемарийской народности.  
<p/>Первое упоминание о марийцах сделано в письме хазарского Кагана Иосифа в 960 г. к кордовскому визирю. 
При перечислении подчиненных ему народов он называет «ц-р-мис» (черемис). В русской летописи XII в. 
«Повесть временных лет» отмечается, что по соседству со славянами, на севере и северо-востоке, жили 
финно-угорские племена – в том числе черемисы (марийцы), мордва, меря, мурома. Они платили дань Руси. 
Марийские племена жили на луговом (левом) и горном (правом) берегах Волги.
<p/>В настоящее время на территории Марийского края известно 48 городищ 
(<a class="fancybox-effects-c" href="/img/base/73.jpg">общий вид</a>, 
<a class="fancybox-effects-c" href="/img/base/74.jpg">сторожевая башня</a>) 
и 59 селищ второй половины VI – начала XV вв. При выборе мест для устройства, как городищ, так и селищ большое значение имел характер 
ландшафта, рельеф и направление основных путей сообщения, поэтому все памятники эпохи средневековья связаны с открытыми водоемами.     
<p/>Благодаря раскопкам, причем с 2000 – 2003 гг. при участии медведевских  школьников, изучены 
объекты хозяйственного назначения и вал городища. Что же  было обнаружено? Это и фрагменты сосудов, 
жернова, ножи, топоры, пряслица, наконечники стрел, замки, ключи, монеты и т. д.
<p/>
<a class="fancybox-effects-c" href="/img/base/65.jpg">Витрина 10</a> 
знакомит с наиболее распространенными вещами, изготовленными мастерами кузнечного и оружейного дела, предметами домашнего обихода и оружием. Центральная и нижняя часть представлена предметами массового пользования: 
<a class="fancybox-effects-c" href="/img/base/68.jpg">железными ножами, наконечниками стрел, копий, дротиками</a> 
и 
<a class="fancybox-effects-c" href="/img/base/67.jpg">топорами</a>.
<p/>В этой же витрине можно увидеть еще один интересный и редкий экспонат: 
<a class="fancybox-effects-c" href="/img/base/66.jpg">меч-клинок</a> 
эпохи среднего средневековья. Достаточно хорошая сохранность позволяет судить о высоком уровне мастерства оружейников.
<p/>Наибольший интерес для ученых в изучении селищ представляет средневековое марийское селище 
XIII – XIV вв., расположенное в центре д. Красное Селище близ реки Суры Горномарийского района. 
В сезон 1995 г. кружковцам довелось участвовать в раскопках этого уникального памятника. Раскопки 
подобных поселений в нашем крае ранее не проводились. 
<p/>В 
<a class="fancybox-effects-c" href="/img/base/59.jpg">витрине 9</a> 
находится археологический материал из раскопок могильников среднего и позднего средневековья.
<p/>В настоящее время известно 102 могильника VI – XVII вв., содержащие 1809 погребальных комплексов. В 
верхней части экспозиции выставлен медный котел XVI – XVII вв. Богатейший материал, состоящий из 
<a class="fancybox-effects-c" href="/img/base/61.jpg">комплекса украшений</a> 
и предметов 
<a class="fancybox-effects-c" href="/img/base/60.jpg">женского костюма</a>, 
находится в центральной части витрины: серьга, височное кольцо (легкая подвеска, прикрепляемая к головному убору у виска), подвеска, браслет, шейная гривна, перстень, кольца и 
<a class="fancybox-effects-c" href="/img/base/62.jpg">бусы</a>.
<p/>На небольшом планшете слева – интересный нумизматический материал, который широко использовался 
марийцами в качестве украшений, московские копейки, которые относятся к XVI – XVII вв., и две монеты 
эпохи Золотой Орды. Интерес представляют элементы женского костюма: 
<a class="fancybox-effects-c" href="/img/base/64.jpg">фибулы, украшение на поясницу и фрагмент пояса</a>.
<p/>В нижней части витрины представлена 
<a class="fancybox-effects-c" href="/img/base/63.jpg">средневековая керамика, пряслица</a> 
(кольца, которые насаживались на веретено), шлак и грузила.  
<p/>Все эти предметы свидетельствуют о развитии ремесел, которые обеспечивали бытовые потребности 
деревенских общин, а также о господстве натурального хозяйства.
<p/>История марийского народа всегда была неразрывно связана с историей Руси, России. После вхождения в 
состав Российского государства на его территории стали строить православные храмы. Одним из них был 
<a class="fancybox-effects-c" href="/img/base/69.jpg">Собор Воскресения Христова</a> 
в Царевококшайске, построенный во времена императрицы Елизаветы Петровны в 1759 г., являвшийся главным храмом города и уезда. К сожалению, до нашего времени храм не сохранился. Он был разрушен в 60-е годы XX века. Изображение собора можно увидеть на планшете.  Место, где он находился, является исторической частью города и в последние годы исследуется археологами. В 2009 г. храм был воссоздан.

