<div style="width: 714px; margin: 0 auto;">
  <div id="showcase" class="showcase">

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/1.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/1.jpg" width="101px" />
      </div>
    </div>
    
    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/2.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/2.jpg" width="101px" />
      </div>
    </div>
    
    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/3.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/3.jpg" width="101px" />
      </div>
    </div>
    
    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/4.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/4.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/5.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/5.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/6.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/6.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/7.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/7.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/8.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/8.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/9.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/9.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/10.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/10.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/11.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/11.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/12.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/12.jpg" width="101px" />
      </div>
    </div>
   <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/13.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/13.jpg" width="101px" />
      </div>
    </div>
    
    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/14.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/14.jpg" width="101px" />
      </div>
    </div>
    
    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/15.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/15.jpg" width="101px" />
      </div>
    </div>
    
    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/16.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/16.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/17.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/17.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/18.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/18.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/19.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/19.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/medvedevo/20.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/medvedevo/20.jpg" width="101px" />
      </div>
    </div>

  </div>
</div>

<div align="center">Используйте кнопки "Назад" и "Далее" или стрелки "&#8592;" и "&#8594;" на клавиатуре для перелистывания слайдов</div>