<img src="/img/mesolithic-b.png" align="left"/>
<font id="h1">С</font>ледующая витрина посвящена мезолиту – среднему каменному   веку, наступившему после таяния ледника около 12 тыс. лет.
<p/><font id="h1">Мезолит</font> – переходная эпоха между палеолитом и неолитом. Первые мезолитические памятники были открыты только в конце XIX в.
<p/>Начало мезолита совпадает с началом голоцена – геологической современностью, иными по сравнению с палеолитом 
природно-климатическими условиями, вызванными таянием ледникового массива. Ледник быстро отступал на север, оставляя на 
своём пути освобождённую почву, массу озёр, заболоченных пространств и морёных нагромождений. При этом климат на севере 
Европы менялся несколько раз. С изменением климата связано образование современных ландшафтов, растительных зон. 
<p/>С мезолитом связаны принципиальные дальнейшие изменения в технике изготовления каменных орудий труда. Человек 
впервые научился делать орудия таких форм и размеров, которые не зависели теперь от размеров исходного 
материала, т.е. от камня. Появилась так называемая вкладышевая техника изготовления орудий. 
<p/>На центральном планшете 
<a class="fancybox-effects-c" href="/img/base/28.jpg">(витрина 2)</a> 
представлены нуклеусы – ядрища, с которых скалывали заготовки для орудий – отщепы и пластины, по форме, и по размерам иногда очень похожи на карандаши. Только граней у них обычно больше, чем у карандаша. Их так и называют карандашевидными нуклеусами.
<p/>Большим разнообразием выделяется коллекция скребков с хорошо заметной ретушью, 
которые использовались при обработке шкур животных. Проколка играла роль иглы при шитье одежды.
<p/>В 
<a class="fancybox-effects-c" href="/img/base/30.jpg">витрине 3</a> 
можно увидеть новые для того времени орудия – 
<a class="fancybox-effects-c" href="/img/base/31.jpg">кремневые наконечники</a> 
стрел для лука, наконечник дротика, 
<a class="fancybox-effects-c" href="/img/base/18.jpg">ножи</a>, а также амулет.