<img src="/img/metal-b.png" align="left"/>
<font id="h1">Эпоха раннего металла</font> (5–3–1 тыс. до н.э.) привела к  распаду  первобытной общины и  зарождению 
древнейших цивилизаций. 
<p/>В 
<a class="fancybox-effects-c" href="/img/base/34.jpg">витрине 5</a> 
размещены материалы эпохи раннего металла. Около 5–6 тыс. лет назад человечество вступило в новую историческую эпоху: люди научились добывать и обрабатывать металл, ставший основным материалом для изготовления необходимых человеку вещей. Эта эпоха делится на три крупных периода – энеолит, бронзовый и железный век.
<p/>Центральная часть витрины знакомит с древностями энеолита, раннего и позднего бронзового века, представленного поздневолосовской, балановской, приказанской и поздняковской культурой. Абашевская и сейминско-турбинская культура отражена фотоматериалами.
<p/>Балановская керамика выделяется оригинальным орнаментом и внешней привлекательностью. Балановская культура занимала практически всю территорию Марийского Поволжья, но чисто балановские поселения, особенно ранние, изучены слабо. В настоящее время они в основном представлены местонахождениями керамики, часто без следов культурного слоя, хотя большинство из них, по мнению ученых, является остатками разрушенных стоянок и долговременных поселков.
<p/>С 1987 по 1991 гг. на территории Горномарийского (с. Виловатово) и Медведевского (д. Кюшнур) районов исследовались Абашевские курганы эпохи бронзы. Было изучено свыше 50 курганов, которые дали замечательные результаты. Орнамент на одном из сосудов оказался  лунным календарём.
<p/>В верхней части витрины на макете-реконструкции изображены последствия жестокой схватки кочевников с местными жителями. Следы страшных событий обнаружены во время раскопок Пепкинского кургана в Горномарийском районе. Одинокий курган справа от дороги Козьмодемьянск – Виловатово оказался земляной насыпью над братской могилой абашевских воинов. В кургане 28 костяков лежали друг к другу по абашевскому погребальному обряду – на спине с подогнутыми ногами, рядом с ними находились сосуды и остатки украшений. Несколько костяков – без черепов. Черепа других расположены рядом. Исследователь кургана А.Х.Халиков считает, что передовой отряд абашевцев был перебит местными воинами. Победители успели у некоторых убитых врагов отрезать головы. Но вот вдали появились основные силы пришельцев. Им удалось отбить головы некоторых своих сородичей. Всех убитых в этом сражении похоронили в одной яме и над ними насыпали курган. О том, что эти мужчины были убиты во время вооруженного столкновения, говорят застрявшие в их костях кремневые наконечники стрел местных типов. 
<P>С 2001 – 2006 г. ведущим археологом МарНИИ Б.С.Соловьевым произведены раскопки в Юринском районе, подтвердившие наличие в устье Ветлуги сейминско-турбинского могильника.
Ученым с помощью школьников удалось обнаружить несколько погребений. Наибольший интерес представляет обнаруженное в 2004 г. предположительно погребение вождя. Об этом свидетельствует разнообразие и многочисленность редких находок: бронзовое копье, орнаментированный кельт, пластинчатый нож. Уникальность захоронения состоит в том, что его оставили на Волге загадочные племена кочевников, прошедшие в глубокой древности огромный путь от Алтая до Оки. Они до сих пор составляют загадку для ученых: на всем протяжении не найдено ни одного поселения – только могильники.
<p/>На отдельном планшете представлены предметы из камня: тёрочник, наконечник стрелы и каменные топоры – даже в эпоху бронзы каменные изделия продолжали существовать, и именно в это время техника обработки камня достигла своего наивысшего развития.
<p/>Вещи Ананьинской культуры,раннего железного века, находятся в нижней части 
<a class="fancybox-effects-c" href="/img/base/34.jpg">витрине 5</a>. 
Это керамика, осёлок, оружие – 
<a class="fancybox-effects-c" href="/img/base/33.jpg">топор-кельт</a>, 
а также женское украшение – шейная гривна.  Кельт и гривна изготовлены из бронзы. В это время в ананьинской культуре наблюдается невиданный расцвет металлургии бронзы, но уже появляются и биметаллические предметы, изготовленные из бронзы и железа. 
<a class="fancybox-effects-c" href="/img/base/35.jpg">Способы</a> обработки металлов отражены на планшете справа от 
<a class="fancybox-effects-c" href="/img/base/34.jpg">витрине 5</a> .
<p/>Эпоха раннего металла привела к распаду первобытной общины и зарождению древнейших цивилизаций.

