<table>
	<td width="625">
		<font id="h1">История создания</font>
	</td>
	<td>
		<a href="/museum/presentation">
			<img src="/img/presentation.png" onMouseOver="this.src='/img/mus_presentation.png'"; onMouseOut="this.src='/img/presentation.png'">
		</a>
	</td>
</table>
<p/>Итогом деятельности объединения «Юный археолог», участия школьников в археологических экспедициях, республиканских и российских слетах, конференциях и олимпиадах стало создание в 2003–2004 гг. на базе МОБУ «Медведевская СОШ №3» школьного археологического музея. 10 декабря 2004г. прошло его официальное открытие. Он стал одной из эффективных форм организации внеурочной  краеведческой деятельности учащихся в п. Медведево и Республике Марий Эл. 
<p/>Важнейшую роль в основании музея и деятельность объединения «Юный археолог» на протяжении многих лет играет поддержка Министерства образования и науки РМЭ, районного отдела образования и администрации школы.
<p/>Идея создания археологического музея возникла у организатора музея еще в начале 80-х гг., в студенческие годы. Участвуя в многочисленных экспедициях по стране (Поволжье, Северное Причерноморье, Великий Новгород), посещая разнообразные музеи, пришло понимание, каким должен быть школьный музей. Хотелось создать необычный, интересный, привлекательный музей, в котором бы сочеталась, научность, системность, доступность в восприятии различных категорий посетителей. Музей представлялся с индивидуальным стилем, эстетически оформленным, с наличием макетов, реконструкций, с росписью на исторические темы и с техническими «изюминками». 
<p/>Возникает вопрос, откуда в обычной школе  такое разнообразие экспонатов? В личную коллекцию, с разрешения руководителей экспедиций, попали некоторые интересные находки, встречающиеся в массовом количестве, представляющие наглядный интерес. Часть археологических материалов передана школе на временное хранение археологами национального музея им. Т. Евсеева и МарНИИЯЛИ, другая – кафедрой истории МГПИ им. Н.К. Крупской и краеведческим отделом городского Дворца творчества юных. Но большая часть экспонатов собрана самими кружковцами как подъемный материал и подарена посетителями.
<p/>Основа музея заложена в 1989 г. в Медведевской СОШ № 2, но только в 2003 г. ему был официально присвоен статус и звание «Школьный музей» на базе Медведевской СОШ № 3.  
<p/>Особенностью создания музейного проекта стало  участие детей двух медведевских школ №2, 3, разного возраста, с 5 по 11 классы. Над проектом оформления экспозиций, концепцией дизайна, размещением витрин, созданием макетов-реконструкций музея активно принимали участие юные помощники. Многие идеи, советы  реализованы. Наверное поэтому музей притягивает посетителей и особенно детей,  потому как все делалось от души, в полной мере можно говорить об удовлетворении потребностей детей в самореализации. 
<p/>Создание музея стало результатом совместной деятельности и «продуктом» коллективного творчества учеников, их родителей, бывших кружковцев, учителей, ученых и спонсоров. Роль детей в создании музея стала определяющей. Все это говорит о высокой степени социализации проекта. Детям и организатору создания музея выпал уникальный случай: совместно, от идеи, с «чистого листа» создать музей, подобного которому не было в Республике Марий Эл.  
<p/>Сложность проекта состояла в том,  и в этом своеобразие, что  инициатор создания музея, работая в СОШ №2, музей создал в другой школе СОШ №3. Первоначально в ремонт и оформление помещения пришлось вложить личные средства и, наконец, самая главная проблема-отсутствие опыта.Погружение в атмосферу творчества помогло за полтора года воплотить проект в жизнь.
