<img src="/img/neolithic-b.png" align="left" height="300" width="489"/>
<font id ="h1">В</font> экспозиции эпохи неолита – нового каменного века (6–3 тыс. до н.э.) представлены памятники лесной 
полосы Европейской части страны. 
<p/><font id="h1">Неолит</font> – высшая и последняя ступень развития каменного века. В эту 
эпоху происходит расцвет техники обработки камня и кости. Каменные орудия достигают совершенства.
<p/>Широкое распространение получают тесла и долота – новые по форме каменные орудия труда для обработки 
дерева. Обращают на себя внимание искусно сделанные каменные топоры. Люди научились не только шлифовать, 
но и пилить, просверливать отверстия в камне.
<p/>Самая яркая черта неолита и одно из фундаментальных изобретений человечества – глиняная посуда, для 
изготовления которой использовалось тесто из глины, воды и различных органических и минеральных добавок.
<p/>Поверхность большинства сосудов украшена, ямочки в сочетании с оттисками нанесены гребенчатым штампом. 
Предположительно , это связано с магическим характером узоров. По мнению большинства археологов, каждой 
этнической группе присущи свой определенный набор типов посуды, приемы её изготовления и орнаментальное 
оформление. Тот факт, что на огромной территории в лесах Восточной Европы бытовала схожая по форме и 
декорированию керамика, называемая ямочно-гребенчатая  свидетельствует о распространении в этом регионе 
группы родственных племен, которые относят к древнейшим  финно-угорским народам. Широко представлена на 
территории нашего края этого периода Накольчатая и Волосовская керамика.
<p/>Когда и как появилась керамика, что представлял собой гончарный круг, можно узнать, познакомившись 
с рисунком и текстом на планшете, справа от 
<a class="fancybox-effects-c" href="/img/base/32.jpg">витрины 4</a>.
В нашем музее можно увидеть макет жилища эпохи неолита.