<div align="center"><font id="h1">ВЕЛИКИЙ НОВГОРОД</font></div>
<img src="/img/novgorod-b.png" align="left"/>
<p/>Особое место в экспозиции музея занимает 
<a class="fancybox-effects-c" href="/img/base/71.jpg">витрина 11</a>. 
Ее материалы рассказывают о культуре Руси – России XII – XIX вв. Наибольшую историческую ценность имеют экспонаты из Великого Новгорода.
<p/>Особенности политической системы Великого Новгорода отражены в одном из наиболее массовых памятников, обнаруженных в 
новгородской земле, – свинцовых вислых печатях. 
<p/>
<a class="fancybox-effects-c" href="/img/base/70.jpg">Свинцовая печать</a> 
(булла) находится в центральной части витрины. Такими печатями скрепляли государственные акты. Изображения и надписи на них говорят , от имени какого властного лица или органа составлен документ – самого ли Господина Великого Новгорода, его посадника или князя.
<p/>Экземпляр печати XII века с изображением двух святых был случайно найден в 1984 г. на территории Рюрикова Городища. 
На этом месте было обнаружено большинство известных новгородских печатей, что связано с расположением здесь княжеской 
резиденции и архива.
<p/>На лицевой стороне печати изображен Иоанн Предтеча в полный рост: правая рука  поднята в двуперстном благословляющем 
жесте, в левой руке свиток, у левого плеча крест. С обратной стороны – изображение архангела Михаила в полный рост с жезлом 
в правой руке и со сферой в левой. Предположительно, это одна из печатей князя Святослава Ростиславовича (1158 – 1167).
<p/>Фрагменты стеклянных бус относятся к периоду XI – XIII вв.
<p/>
<a class="fancybox-effects-c" href="/img/base/72.jpg">Экспонаты более позднего времени</a>: 
колокольчик, икона-складень, ключ, замок, чарки, самовары и монеты – отражают культуру и быт XVIII – XIX вв.
<p/>Несомненный интерес для жителей п. Медведево представляет железный ключ, достаточно большой, необычной формы, 
выполненный вручную на высоком профессиональном уровне. Ключ был найден учеником Медведевской СОШ №2 Подузовым Сергеем в 
1991 г. в земле на частном подворье в п.Медведево.
<p/>В нижней части витрины – вещи, подаренные музею учениками, посетителями: бронзовая печать 19 века, багор, 
аптекарский сосуд, вулканическое стекло, янтарь.
<p/>Самовары и макеты подворья 
(<a class="fancybox-effects-c" href="/img/base/75.jpg">макет №1</a>, 
<a class="fancybox-effects-c" href="/img/base/76.jpg">макет №2</a>) 
второй половины XIX в. создают образные впечатления о жизни простых крестьян. 