<div align="center"><img src="/img/olbia-b.png"/></div>
<p/><font id="h1">Д</font>ошло до нас и большое количество надписей на греческом языке. В 
<a class="fancybox-effects-c" href="/img/base/40.jpg">витрине 6</a> экспонируются уникальные предметы, 
найденные на раскопках Ольвии: 
<a class="fancybox-effects-c" href="/img/base/41.jpg">ручки амфор</a> 
с клеймами и надписями на древнегреческом языке. В задней части витрины можно увидеть копию и оригинал 
<a class="fancybox-effects-c" href="/img/base/42.jpg">светильника</a> 
с оставшейся древней сажей, а также копию тарелки с мифологическим сюжетом.  
<p/>В VI–V вв. до н. э. Ольвия выпускает свои литые из бронзы 
<a class="fancybox-effects-c" href="/img/base/45.jpg">монеты</a> 
в виде дельфинов, борисфенов и больших круглых ассов с изображением Афины, медузы Горгоны. Монеты дельфинчики и борисфены располагаются в 
центральной части 
<a class="fancybox-effects-c" href="/img/base/40.jpg">витрины 6</a>.
<p/>Бронзовые греческие 
<a class="fancybox-effects-c" href="/img/base/44.jpg">наконечники стрел</a> 
относятся к периоду завоеваний Александра Македонского, напрямую имеют отношение к тем событиям и связаны с неудачной осадой Ольвии Запирионом – полководцем Александра Македонского в IV веке до н. э. Костяной наконечник стрелы относится к скифской эпохе.  
<p/>В нижней части витрины находиться образец строительного ремесла античной Ольвии – 
<a class="fancybox-effects-c" href="/img/base/43.jpg">изразец (кирпич)</a> 
для облицовки важных общественных зданий. На нем хорошо сохранилось изображение символа Солнца.
<p/>Центральное место в экспозиции 
(<a class="fancybox-effects-c" href="/img/base/46.jpg">витрина 7</a>) 
занимает фрагмент терракотовой 
<a class="fancybox-effects-c" href="/img/base/48.jpg">женской статуэтки</a>, 
возможно богини Деметры. Несомненный интерес  вызывает часть терракотовой статуэтки 
<a class="fancybox-effects-c" href="/img/base/49.jpg">Медузы Горгоны</a> 
и чернолаковый 
<a class="fancybox-effects-c" href="/img/base/50.jpg">профиль головы</a> 
гречанки, предположительно Елены Прекрасной. Заслуживают  внимания отдельные фрагменты женских украшений – 
<a class="fancybox-effects-c" href="/img/base/52.jpg">бус</a>, 
а также бронзовый античный 
<a class="fancybox-effects-c" href="/img/base/36.jpg">перстень-печатка</a> с женским  изображением. 