<div id="timeline">
    <ul id="dates">
      <li><a href="#info" class="selected">Инфо</a></li>
      <li><a href="#2013">2013</a></li>
      <li><a href="#2012">2012</a></li>
      <li><a href="#2011">2011</a></li>
      <li><a href="#2008">2008</a></li>
      <li><a href="#2007">2007</a></li>
      <li><a href="#2006">2006</a></li>
      <li><a href="#2005">2005</a></li>
      <li><a href="#2004">2004</a></li>
      <li><a href="#2003">2003</a></li>
      <li><a href="#2002">2002</a></li>
      <li><a href="#2001">2001</a></li>
      <li><a href="#2000">2000</a></li>
      <li><a href="#1999-00">1999-00</a></li>
      <li><a href="#1998">1998</a></li>
      <li><a href="#s1996">1996</a></li>
      <li><a href="#1995">1995</a></li>
      <li><a href="#s1995">1995</a></li>
      <li><a href="#1993-94">1993-94</a></li>
      <li><a href="#1992">1992</a></li>
      <li><a href="#s1991">1991</a></li>
      <li><a href="#1990">1990</a></li>
      <li><a href="#s1990">1990</a></li>
      <li><a href="#1990,92">1990,92</a></li>
      <li><a href="#1988-90">1988-90</a></li>
      <li><a href="#1988">1988</a></li>
      <li><a href="#1987">1987</a></li>
    </ul>
    <ul id="issues">
      <li id="info" class="selected">
        <img src="/img/expeditions/info.png" width="400" height="250" />
        <h1>Информация</h1>
        <p> Для перехода на просмотр галереи нажмите на фотографию соответствующего года. Приятного путешествия в прошлое!</p>
      </li>

      <li id="2013">
        <a href="/photo_archive/expeditions/2013">
          <img src="/img/expeditions/2013.png" width="400" height="250" />
        </a>
        <h1>2013</h1>
      </li>

      <li id="2012">
        <a href="/photo_archive/expeditions/2012">
          <img src="/img/expeditions/2012.png" width="400" height="250" />
        </a>
        <h1>2012</h1>
      </li>

      <li id="2011">
        <a href="/photo_archive/expeditions/2011">
          <img src="/img/expeditions/2011.png" width="400" height="250" />
        </a>
        <h1>2011</h1>
      </li>

      <li id="2008">
        <a href="/photo_archive/expeditions/2008">
          <img src="/img/expeditions/2008.png" width="400" height="250" />
        </a>
        <h1>2008</h1>
      </li>

      <li id="2007">
        <a href="/photo_archive/expeditions/2007">
          <img src="/img/expeditions/2007.png" width="400" height="250" />
        </a>
        <h1>2007</h1>
      </li>

      <li id="2006">
        <a href="/photo_archive/expeditions/2006">
          <img src="/img/expeditions/2006.png" width="400" height="250" />
        </a>
        <h1>2006</h1>
      </li>

      <li id="2005">
        <a href="/photo_archive/expeditions/2005">
          <img src="/img/expeditions/2005.png" width="400" height="250" />
        </a>
        <h1>2005</h1>
      </li>

      <li id="2004">
        <a href="/photo_archive/expeditions/2004">
          <img src="/img/expeditions/2004.png" width="400" height="250" />
        </a>
        <h1>2004</h1>
      </li>

      <li id="2003">
        <a href="/photo_archive/expeditions/2003">
          <img src="/img/expeditions/2003.png" width="400" height="250" />
        </a>
        <h1>2003</h1>
      </li>

      <li id="2002">
        <a href="/photo_archive/expeditions/2002">
          <img src="/img/expeditions/2002.png" width="400" height="250" />
        </a>
        <h1>2002</h1>
      </li>

      <li id="2001">
        <a href="/photo_archive/expeditions/2001">
          <img src="/img/expeditions/2001.png" width="400" height="250" />
        </a>
        <h1>2001</h1>
        
      </li>

      <li id="2000">
        <a href="/photo_archive/expeditions/2000">
          <img src="/img/expeditions/2000.png" width="400" height="250" />
        </a>
        <h1>2000</h1>
      </li>

      <li id="1999-00">
        <a href="/photo_archive/expeditions/1999-2000">
          <img src="/img/expeditions/1999-00.png" width="400" height="250" />
        </a>
        <h1>1999-2000</h1>
      </li>

      <li id="1998">
        <a href="/photo_archive/expeditions/1998">
          <img src="/img/expeditions/1998.png" width="400" height="250" />
        </a>
        <h1>1998</h1>
      </li>

      <li id="s1996">
        <a href="/photo_archive/expeditions/1996">
          <img src="/img/expeditions/1996.png" width="400" height="250" />
        </a>
        <h1>1996 (слёт)</h1>
      </li>

      <li id="1995">
        <a href="/photo_archive/expeditions/1995">
          <img src="/img/expeditions/1995.png" width="400" height="250" />
        </a>
        <h1>1995</h1>
      </li>

      <li id="s1995">
        <a href="/photo_archive/expeditions/s1995">
          <img src="/img/expeditions/s1995.png" width="400" height="250" />
        </a>
        <h1>1995 (слёт)</h1>
      </li>

      <li id="1993-94">
        <a href="/photo_archive/expeditions/1993-1994">
          <img src="/img/expeditions/1993-94.png" width="400" height="250" />
        </a>
        <h1>1993-1994</h1>
      </li>

      <li id="1992">
        <a href="/photo_archive/expeditions/1992">
          <img src="/img/expeditions/1992.png" width="400" height="250" />
        </a>
        <h1>1992</h1>
      </li>

      <li id="s1991">
        <a href="/photo_archive/expeditions/1991">
          <img src="/img/expeditions/1991.png" width="400" height="250" />
        </a>
        <h1>1991 (слёт)</h1>
      </li>

      <li id="1990">
        <a href="/photo_archive/expeditions/1990">
          <img src="/img/expeditions/1990.png" width="400" height="250" />
        </a>
        <h1>1990</h1>
      </li>

      <li id="s1990">
        <a href="/photo_archive/expeditions/s1990">
          <img src="/img/expeditions/s1990.png" width="400" height="250" />
        </a>
        <h1>1990 (слёт)</h1>
      </li>

      <li id="1990,92">
        <a href="/photo_archive/expeditions/1990,1992">
          <img src="/img/expeditions/1990,1992.png" width="400" height="250" />
        </a>
        <h1>1990,1992</h1>
      </li>

      <li id="1988-90">
        <a href="/photo_archive/expeditions/1988-1990">
          <img src="/img/expeditions/1988-1990.png" width="400" height="250" />
        </a>
        <h1>1988-1990</h1>
      </li>

      <li id="1988">
        <a href="/photo_archive/expeditions/1988">
          <img src="/img/expeditions/1988.png" width="400" height="250" />
        <a>
        <h1>1988</h1>
      </li>

      <li id="1987">
        <a href="/photo_archive/expeditions/1987">
          <img src="/img/expeditions/1987.png" width="400" height="250" />
        </a>
        <h1>1987</h1>
      </li>
    </ul>
    <div id="grad_top"></div>
    <div id="grad_bottom"></div>
    <a href="#" id="next">+</a>
    <a href="#" id="prev">-</a>
</div>

