<img src="/img/paleolithic-b.png" align="left"/>
<p/><font id="h1">Палеолит</font>, или каменный век, – самый ранний и наиболее продолжительный период в истории человечества (2,5 млн.– 12 тыс.). Его называют так потому, что материалом для изготовления основных орудий труда служил человеку камень. 
<p/>
<a class="fancybox-effects-c" href="/img/base/19.jpg">Стенд «Каменный век»</a>
 отражает само начало истории человеческого общества и показывает, как 
с изменениями орудий труда меняется образ жизни, занятия и внешность человека. 
<p/>Слева от стены, на верхней полке, представлены
скульптурные изображения 
<a class="fancybox-effects-c" href="/img/base/28.jpg">(витрина 2)</a>
– реконструкции портретов древнейших людей, 
выполненные по подлинным черепам, обнаруженным в пещерных стоянках 
Африки, Азии и Европы, на основании методики восстановления лица по 
черепу, разработанной антропологом и археологом М.М.Герасимовым. В верхнем ряду слева – скульптурное изображение австралопитека, обитавшего в Африке 5–2 млн. лет назад; рядом с его костями были обнаружены 
древнейшие в мире каменные орудия труда.
<p/>Справа от него – питекантроп, живший 1,8–2 млн. лет назад. Люди этого 
физического типа, покинув пределы Африки, расселились в Азии и на юге Европы. Третий слева –  неандерталец, обитавший в Европе 200–35 тыс. лет назад. 
Стоянки неандертальца обнаружены и на юге Европейской части 
нашей страны. Около 35 тыс. лет назад континент заселяли 
кроманьонцы – люди современного физического типа, относящиеся к типу «человека разумного». Бюст кроманьонца – крайний справа.
<p/>Самым древним археологическим памятником в Марийской республике является Юнго-Кушергинская стоянка 
верхнего палеолита. Она расположена близ д. Юнго-Кушерга Горномарийского района и существовала около 
25 тыс. лет тому назад. Находки представлены кремневыми отщепами, скребками, ядрищами и костями животных. 
Здесь был найден бивень мамонта. Кремневые изделия эпохи палеолита, грубые по обработке, нередко 
неправильной формы. 
<p/>Справа от стенда размещена живописная 
<a class="fancybox-effects-c" href="/img/base/21.jpg">реконструкция-диорама</a> 
«Жилище первобытного человека». В живописных образах передан дух эпохи. Диорама посвящена жизни первобытных людей в эпоху завершения 
Великого оледенения. 
<p/>Что же можно  увидеть,  что  здесь  необычного? Мы видим, как  заходящее Солнце последними лучами 
освещает опушку  леса, на  которой  древние  люди заняты повседневными делами. 
<p/>Люди, изображенные на диораме, скребком убирают остатки жира со шкуры животного, шьют одежду, 
применяя вместо иголки заостренный осколок кремня-проколку. Двое мужчин заняты особенно важным делом: 
с помощью отбойника они скалывают ножевидные пластины с нуклеуса. Эта работа требует особых умений и 
навыков. Добывание огня при помощи трения – одно из древнейших изобретений первобытных людей. 
Крайний справа мужчина с копьем,  возможно, настраивает себя на удачную охоту. Подросток несет вязанку 
хвороста в пещеру, помогая взрослым. Молодая женщина занята ребенком. Изображение 
<a class="fancybox-effects-c" href="/img/base/22.jpg">юноши</a>
 показывает, как люди того времени рисовали животных на стенах пещер. 
<p/>Продолжением диорамы является
<a class="fancybox-effects-c" href="/img/base/24.jpg">реконструкция шалаша</a>
  первобытных охотников: чучела и шкуры животных (<a class="fancybox-effects-c" href="/img/base/26.jpg">рыси</a>, 
<a class="fancybox-effects-c" href="/img/base/23.jpg">медведя</a>, козы и кабана) придают особый колорит экспозиции. 
Мерцающий свет внутри шалаша создает иллюзию 
<a class="fancybox-effects-c" href="/img/base/25.jpg">костра</a>, освещая при этом фигуру первобытного охотника.