<div align="center"><img src="/img/paleontology-b.png" /></div>

<p/><font id="h1">Э</font>кспозиция начинается  перед  входом в музейное помещение. 
Изображение 
<a class="fancybox-effects-c" href="/img/base/1.jpg">жилища</a> 
первобытных людей и средневековой деревни олицетворят связь эпох, народов и поколений, что отражает основное содержание разделов музея. Изображение костра в жилище, как-будто предлагает войти внутрь всем, кто намерен оказаться в прошлом, узнать историю человеческого прошлого.
<p/>Итак, давайте вместе совершим путешествие в прошлое.
<p/>Что же мы видим? Перед нами раздел палеонтологии
<a class="fancybox-effects-c" href="/img/base/13.jpg">Витрина 1</a>.
<p/><font id="h1">Палеонтология</font> отражает начало жизни на Земле. Окаменелости представляют собой останки и отпечатки  растений, живших в давно минувшие эпохи. 
Обратите внимание на верхнюю часть витрины, на
<a class="fancybox-effects-c" href="/img/base/12.jpg">планшете</a>
спиралевидное геохронологическое изображение развития жизни на планете. Здесь показано четыре периода (эры) развития нашей планеты от начала формирования жизни на Земле до наших дней: Архей, Палеозой, Мезозой, Кайнозой.
<p/>Наиболее 
<a class="fancybox-effects-c" href="/img/base/14.jpg">древними экспонатами</a> 
являются три предмета: зубчатая раковина (аммонит), 
уголь с отпечатками растений и галька – экспонаты относятся к Палеозойской эре (периода Карбона – 285–300 млн. лет). 
<p/>Заслуживает внимания фрагмент окаменевшего дерева Пермского периода (Палеозойской эры – 230–285 млн. лет). 
Несомненный интерес вызывает заостренная коническая раковина белемнит Мезозойской эры (Юрского периода – 135–145 млн. лет). 
Стекловидные раковины белемнитов крестьяне совсем недавно называли «громовыми стрелами»,  иногда боялись брать в руки.                
<p/>В Кайнозойскую эру, в Четвертичном периоде, во времена похолодания на Земле, 
когда происходила эволюция человека, жили самые огромные животные того времени – мамонты, 
которые были любимым блюдом людей позднего палеолита (рост до 3,5 м, вес до 5 тонн, длина бивней до 4,5 м). 
<a class="fancybox-effects-c" href="/img/base/17.jpg">Зуб мамонта</a>
можно увидеть в центральной части витрины. 
<p/>В этот же ледниковый период обитали такие крупные животные как бизон и носорог. 
<a class="fancybox-effects-c" href="/img/base/15.jpg">Кости и рога</a> 
этих древнейших животных  находятся  в нижней части витрины. Эта эпоха в истории человеческого общества получила название «палеолит».