<p id="h1">Кокушкин Дмитрий Викторович</p>
<table>
	<tr>
		<td>
			<img src="gordost1.png" width="200" height="300"/>
		</td>
		<td>
			<p/><b>Год окончания школы:</b> 1993
			<p/><b>Участие в археологических экспедициях:</b>

			<ul>
				<li>1989–1990 – Пеленгерские курганы абашевской культуры эпохи бронзы. Медведевский район</li>
				<li>1991 – Мари – Луговая стоянка. Звениговский район</li>
				<li>1991 – г. Кострома</li>
				<li>1992 – Поселение эпохи бронзы. Галанкина гора.  Юринский район</li>
				<li>1993 – Поселения эпохи неолита. Дубовое. Килемарский район</li>
				<li>1994 – Археологическая разведка. Моркинский, Звениговский районы  </li>
				<li>1995–Средневековое поселение – Красное Селище. Горномарийский район</li>
			</ul>
		</td>
	</tr>
</table>

<p/><b>Образование:</b>
<ul>
	<li>1993–1997 – Йошкар-Олинский совхоз колледж. Квалификация: техник-механик, специальность: механизация сельского хозяйства </li>
	<li>1997–2000 – Марийский государственный технический университет. Квалификация: инженер-механик, специальность: механизация сельского хозяйства</li>
	<li>2006–2007 – Президентская Программа подготовки управленческих кадров профессиональная переподготовка в ГОУ ВПО Московский государственный университет экономики, статистики и информатики (МЭСИ) – ГОУ ВПО Марийский государственный университет по программе «Управление малым и средним бизнесом» </li>
</ul>
<p/><b>Место работы:</b>
<ul>
	<li>С 1 марта 2000 года по 14 марта 2008 года – ОАО «Марийская Мясная Компания» (ОАО Мясокомбинат «Алёнкинский»), РМЭ п. Медведево </li>
	<li>С 15 марта 2008 года по 02 февраля 2010 года – ООО «Радиал», РМЭ п. Медведево</li>
	<li>С 2 февраля 2010 года по настоящее время  – ОАО «Верхневолжскнефтепровод» филиал Марийское районное нефтепроводное управление (структура АК «Транснефть»), РМЭ г. Йошкар-Ола </li>
</ul>
<p/><b>Увлечения:</b>
<ul>
	<li>Горные лыжи, охота, коньки.</li>
</ul>
<p/><b>Общественная деятельность:</b>
<ul>
	<li>С 2009 года депутат Медведевского городского поселения 2-го созыва</li>
	<li>Член попечительского совета МОБУ «Медведевская СОШ№2»</li>
	<li>Регулярно оказывает материальную помощь объединению «Юный археолог» в осуществлении поездок в экспедиции и на всероссийские конкурсы.</li>
</ul>

<hr/>

<p id="h1">Бандин Сергей Александрович</p>
<table>
	<tr> 
		<td>
			<img src="gordost2.png" width="200" height="300"/>
		</td>
		<td>
			<p/><b>Год окончания школы:</b> 1998
			<p/><b>Участие в археологических экспедициях:</b>
			<ul>
				<li>1993–1994 – Поселения эпохи неолита.Дубовое. Килемарский район</li>
				<li>1995 – Средневековое поселение – Красное Селище. Горномарийский район</li>
				<li>1995 – Межрегиональный лагерь юных археологов. Севастополь (Херсонес)</li>
				<li>1996 – Республиканский слет юных туристов – краеведов. Звениговский район</li>
			</ul>
		</td>
	</tr>
</table>

<p/><b>Участие в конкурсах, олимпиадах:</b>
<ul>
	<li>Открытая региональная олимпиада школьников по археологи и этнографии Санкт-Петербург (1998)</li>
	<li>«Марийский край в памятниках археологии (эпоха камня)» Диплом III степени  Благодарность</li>
	<li>I Всероссийская олимпиада школьников по археологии, этнографии и истории религии Санкт-Петербург (1997) Диплом</li>
</ul>
<p/><b>Образование:</b>
<ul>
	<li>1998 г. – 2003 г. Марийский государственный технический университет, экономический факультет. Получен диплом с отличием о высшем образовании. Присвоена квалификация – экономист- менеджер. </li>
</ul>
<p/><b>Место работы:</b>
<ul>
	<li>С 2004 года  по настоящее время –  работает по совмещению  на 0,2 ставки доцента кафедры экономики и организации на производстве Марийского государственного технического университета. (Ведет предмет экономика отраслевых рынков у студентов 3 курса экономического факультета, имеет опыт руководства дипломными проектами студентов)</li>
	<li>Апрель 2011г. по настоящее время – ФКУ ИК-3 УФСИН России по Республике Марий Эл, начальник отдела кадров и работы с личным составом</li>
	<li>Май 2004г. по апрель 2011 г. – ФГУ ИК-3 УФСИН России по Республике Марий Эл. Начальник организационно-аналитического отдела</li>
	<li>Октябрь 2003г. апрель 2004 г. – ФГУ ИК-3 УФСИН России по Республике Марий Эл. Старший бухгалтер</li>
</ul>
<p/><b>Увлечения:</b>
<ul>
	<li>Туризм, организация культурно-массовых мероприятий, КВН.</li>
</ul>

<hr/>

<p id="h1">Кудрявцев Вячеслав Валерианович</p>
<table>
	<tr>
		<td>
			<img src="gordost3.png" width="200" height="300"/>
		</td>
		<td>
			<p/><b>Год окончания школы:</b> 2002
			<p/><b>Участие в археологических экспедициях:</b>
			<ul>
				<li>1998г. – Раскопки исторической части г. Козьмодемьянска. Горномарийский  район</li>
				<li>1999г. – Юринская стоянка эпохи бронзы. Юринский район</li>
				<li>2000г. – Мало-Сундырское средневековое городище. Горномарийский район</li>
				<li>2000г. – Мало-Сундырское средневековое городище. Горномарийский район</li>
				<li>2001г. – Мало-Сундырское средневековое городище. Горномарийский район</li>
			</ul>
		</td>
	</tr>
</table>

<p/><b>Участие в конкурсах, олимпиадах:</b>
<ul>
	<li>IV Всероссийская олимпиада по школьному краеведению Москва (2000)  Диплом I степени 
	<li>XXII Открытая региональная олимпиада по археологии и этнографии Санкт-Петербурге (2000)  Диплом II степени    
	<li>Республиканский конкурс творческих краеведческих работ «Край марийский и Россия: прошлое и настоящее Йошкар-Ола (2002) Диплом II степени
</ul>
<p/><b>Образование:</b>
<ul>  
	<li>Марийский Государственный Технический Университет Факультет Управления и Права.</li>
</ul>
<p/><b>Место работы:</b>
<ul>
	<li>OOO «Силби», Генеральный директор, Независимый Предприниматель Амвэй.</li>
</ul>
<p/><b>Общественная деятельность:</b>
<ul>
	<li>Регулярно оказывает материальную помощь объединению «Юный археолог» в осуществлении поездок в экспедиций.</li> 
</ul>

<hr/>

<p id="h1">Туманов Андрей Геннадьевич</p>
<table>
	<tr>
		<td>
			<img src="gordost4.png" Width="200" Height="300"/>
		</td>
		<td>
			<p/><b>Год окончания школы:</b> 2002 
			<p/><b>Участие в археологических экспедициях:</b>
			<ul>
				<li>1998 – Раскопки исторической части г. Козьмодемьянска. Горномарийский  район</li>
				<li>1999–2002  – Мало-Сундырское средневековое городище. Горномарийский район</li>
				<li>2003 – Юринский Сейменско-Турбинский могильник эпохи бронзы</li>
				<li>2003 – Астраханская область (в составе археологической экспедиции МарГУ)</li>
				<li>2005 – Юринский Сейменско-Турбинский могильник эпохи бронзы</li>
			</ul>
		</td>
	</tr>
</table>

<p/><b>Участие в конкурсах, олимпиадах:</b>
<ul>
	<li>IV Всероссийская олимпиада по школьному краеведению Москва (2000) Диплом I степени</li>
	<li>Призер регионального этапа всероссийской олимпиады школьников по истории  (2002) Диплом III  степени </li>
	<li>XXIV Открытая региональная олимпиада по археологии Санкт-Петербург (2002)  Диплом I степени </li>
</ul>
<p/><b> Образование:</b>
<ul>
	<li>Марийский государственный университет, историко-филологический факультет, специальность история, диплом с отличием  (2007 г.)</li>
	<li>Марийский государственный университет, факультет международных отношений и связей с общественностью, кафедра международных отношений и связей с общественностью – аспирант, специальность – всеобщая история</li>
</ul>
<p/><b>Место работы:</b>
<ul>
	<li>2011 г. – по настоящее  время – ООО «NETMINDSOCIALMEDIA» специалист по мониторингу блого-сферы.</li>
</ul>
<p/><b>Увлечения:</b>
<ul>
	<li>Чтение, археология, нумизматика, военная история, музыка, кино.</li>
</ul>

<hr/>

<p id="h1">Беневоленская Татьяна Владимировна</p>
<table>
	<tr>
		<td>
			<img src="gordost5.png" Width="200" Height="300"/>
		</td>
		<td>
			<p/><b>Год окончания школы:</b> 2002
			<p/><b>Участие в археологических экспедициях:</b>
			<ul>
				<li>1998 – Раскопки исторической части г. Козьмодемьянска. Горномарийский  район</li>
				<li>2000–2002 – Мало - Сундырское средневековое городище. Горномарийский  район</li>
				<li>2003–2006 – Юринский могильник сейминско – турбинской культуры эпохи бронзы</li>
				<li>2012 – Русенихинский древнемарийский могильник. Нижегородская область</li>
			</ul>
		</td>
	</tr>
</table>

<p/><b>Участие в конкурсах, олимпиадах:</b>
<ul>
	<li>II  Всероссийская олимпиада по школьному краеведению (археология и этнография) Москва (1998) Диплом II степени.</li>
</ul>
<p/><b>Образование: </b>  
<ul>  
	<li>2002–2007 г. – Марийский государственный технический университет, Механико-машиностроительный факультет, специальность: «Организация и безопасность дорожного движения».  Диплом с отличием.</li>
</ul>
<p/><b>Место работы:</b>
<ul>
	<li>2007 г. –  по настоящее  время – ОАО «Маригражданстрой», инженер по БДД.</ul>
</ul>
<p/><b>Увлечения:</b>
<ul>
	<li>Чтение, археология, плавание, лыжи, активный отдых, путешествие.</li>
</ul>

<hr/>

<p id="h1">Лебедева Светлана Евгеньевна</p>
<table>
	<tr>
		<td>
			<img src="gordost6.png" width="200" height="300"/>
		</td>
		<td>
			<p/><b>Год окончания школы:</b> 2002
			<p/><b>Участие в археологических экспедициях:</b>
			<ul>
				<li>1998  – г. Козьмодемьянск</li>
				<li>2000–2002 – Мало-Сундырское средневековое городище. Горномарийский район</li>
				<li>2003 – Юринский Сейменско-Турбинский могильник эпохи бронзы</li>
				<li>2005 – Юринский Сейменско-Турбинский могильник эпохи бронзы</li>
			</ul>
		</td>
	</tr>
</table>

<p/><b>Образование: </b>
<ul>
	<li>2002–2005 – ГОУ СПО  Йошкар-олинский медицинский колледж. Сестринское отделение. Специальность «Сестринское дело»</li>
	<li>2008–2012 – ГОУ ВПО Первый Московский Государственный Медицинский  Университет  имени И.М. Сеченова. Факультет высшего сестринского образования и психолого-социальной работы</li>
</ul>
<p/><b>Место работы:</b>
<ul>
	<li>С августа 2005 г. – по настоящее время работает  медицинской сестрой в ГБУ РМЭ «Йошкар-Олинская городская больница», в травматологическом отделении.</li>
</ul>
<p/><b>Увлечения:</b>
<ul>
	<li>Прогулки по красивым паркам, посещение  интересных выставок и музеев, путешествие, а также отдых с друзьями на озерах и реках.</li>
</ul>

<hr/>

<p id="h1">Ненарокова Александра Олеговна </p>
<table>
	<tr>
		<td>
			<img src="gordost7.png" width="200" height="300"/>
		</td>
		<td>
			<p/><b>Год окончания школы:</b> 2009
			<p/><b>Участие в археологических экспедициях:</b>
			<ul>
				<li>2005–2006 – Юринский могильник сейминско – турбинской культуры эпохи бронзы </li>
				<li>2007 – Поселение эпохи неолита. Сутыри. Юринский район</li>
				<li>2008 – Горномарийский район. Писеральское средневековое мольбище</li>
			</ul>
		</td>
	</tr>
</table>

<p/><b>Участие в конкурсах, олимпиадах:</b>
<ul>
	<li>Республиканский  конкурс краеведческих исследовательских работ учащихся «История развития туристко-краеведческого движения в РМЭ» Йошкар-Ола (2006) Лауреат II степени</li>  
	<li>XIII Республиканская научно-практическая конференция «Марийское краеведение: опыт и перспективы, его использование в системе образования» Йошкар-Ола (2007) </li> 
	<li>Республиканский конкурс краеведческих исследовательских работ учащихся-участников туристско-краеведческого движения учащихся РМЭ «Край родной марийский» по направлению «Школьные музеи» Йошкар-Ола (2008) лауреат II степени </li>    
	<li>II Городская научно-практическая конференция «Моя страна-моя Россия» Йошкар-Ола (2009) Диплом   II степени  лауреата  </li> 
	<li>Республиканская научно-практическая конференция обучающихся по истории и краеведению, посвященной 20-летию археологического движения в Медведевском районе Йошкар-Ола (2009) Диплом  I степени лауреата</li> 
</ul>
<p/><b>Образование:  </b>
<ul>
	<li> С 2009 студентка Поволжского Государственного Технического Университета, факультет социальных технологий, специальность «Социальная работа».</li> 
</ul>
<p/><b>Увлечения:</b>
<ul>
	<li> Волонтерская деятельность, экстремальные виды спорта, активный отдых, путешествия.</li> 
</ul>