<h1>Список  публикаций И.И. Панова</h1>
<p/><b>Работы, опубликованные в научно-методических и нучно-популярных федеральных  журналах.</b>
<ol type="1">
	<li>Панов И.И. Школьный археологический музей: связь времен, народов и поколений // Юный краевед. Научно-популярный журнал для детей и юношества.  № 10, Москва, 2009. –  С. 18–23.</li>
	<li>Панов И.И.  Преподавание истории взаимодействий и сотрудничества средствами школьного археологического музея//Краеведческий альманах. Научно-методический журнал. №3, Москва, 2009.  –  С. 3–7.</li>
</ol>
<p/><b>Работы, опубликованные в других изданиях.</b>
<ol type="1">
	<li>Панов И.И.  Использование археологических материалов на уроках истории //Материалы Всесоюзных педагогических чтений. Нижний Новгород, 1991. –  С. 17.</li>
	<li>Панов И.И.  Место археологии в процессе преподавания истории в школе //Марий Эл учитель. Йошкар-Ола.  Вып. 3.– 1993. – С. 84–96.</li>
	<li>Панов И.И. Школьный археологический кружок – средство формирования интереса учащихся к истории //Материалы II-й республиканской научно – практической конференции. Йошкар-Ола: МИО, 1997.  – С.37–40.</li>
	<li>Панов И.И.  О развитии интереса учащихся к краеведческой  деятельности  //Материалы VIII республиканской научно- практической конференции Марийское краеведение: опыт и перспективы его использования в школе. Йошкар-Ола: МИО, 2002. – С.42.</li>
	<li>Панов И.И. Школьный археологический кружок как средство сотрудничества детей и взрослых //Материалы IX республиканской научно- практической конференции «Марийское краеведение: опыт и перспективы его использования в школе».   Йошкар-Ола: ГОУ ДПО (ПК) С «Марийский институт образования»), 2003. – С.21–27.
	<li>Панов И.И. О подготовке и участии учащихся во Всероссийских олимпиадах по археологии и школьному краеведению //Материалы межрегиональной X-й научно- практической конференции «Марийское краеведение: опыт и перспективы его использования в системе образования Республики Марий Эл». Йошкар-Ола: ГОУ ДПО (ПК) С «Марийский институт образования»),   2005. – С.58–62.</li>
	<li>Панов И.И. Школьный археологический музей: совместное творчество детей и взрослых //Материалы XI-й республиканской научно- практической конференции «Марийское краеведение: опыт и перспективы его использования в системе образования Республики Марий Эл». Йошкар-Ола: ГОУ ДПО (ПК) С «Марийский институт образования»),  2005. – С.36–39.   </li>
	<li>Панов И.И.  Экспозиция боевой славы //Растить патриотов России. Из опыта работы учителей истории и обществознания. Йошкар-Ола: Педагогическая инициатива. 2005. – С.27–32. </li>
	<li>Панов И.И. Школа и археология: приобщение учащихся к научно-исследовательской работе //Материалы XII-й республиканской научно- практической конференции «Марийское краеведение: опыт и перспективы его использования в системе образования Республики Марий Эл».   Йошкар-Ола: ГОУ ДПО (ПК) С «Марийский институт образования»), 2006. – <br> С. 110–113.</li>
	<li>Панов И.И. Поисково-исследовательская деятельность учащихся как фактор творческого саморазвития личности //Инновационная сельская школа от идеи к результату.  Сборник статей. Йошкар-Ола: ГОУ ВПО МарГУ, 2006. –  С. 42–49. </li>
	<li>Панов И.И. Приобщение учащихся к научно-исследовательской деятельности. //Молодежь Республики Марий Эл. Материалы межрегиональной научно-практической конференции. – Йошкар-Ола.  2007. – С. 59–63.</li>
	<li>Панов И.И. Преподавание истории взаимодействий и сотрудничества средствами школьного археологического музея. Материалы XV-й республиканской научно- практической конференции «Марийское краеведение: опыт и перспективы его использования в системе образования Республики Марий Эл».   2009. – С. 20–23.</li>
	<li>Панов И.И. Школьный археологический музей: традиции и перспективы //Материалы Всероссийской научно-практической конференция с международным участием «Этническая культура народов  Волго-Камья: традиции, трансформации и современные процессы». Йошкар-Ола, 2009. – С. 368–375.</li>
	<li>Панов И.И. Медведевский школьный археологический музей// Материалы музейной научно – практической конференции «III Евсеевские чтения». Музейный вестник №4.  Йошкар-Ола, 2010. – С. 115–120.</li>
	<li>Панов И.И. Школьный археологический музей как музей всемирной истории // Материалы научно – практической конференции посвящённой 70-летию Медведевского района. Сборник статей. Медведево, 2012. – С. 101–104.</li>
</ol>