<table>
	<td width="625">
		<font id="h1">Итоги работы</font>
	</td>
	<td>
		<a href="/img/museum/presentation">
			<img src="/img/presentation.png" onMouseOver="this.src='/img/mus_presentation.png'"; onMouseOut="this.src='/img/presentation.png'" />
		</a>
	</td>
</table>

<p/>За время работы музея было проведено свыше 650 экскурсий, количество посетителей превышает 11 тыс. человек. Музей, по мнению большинства посетителей, является одним из центров образовательной и воспитательной работы в Медведевском районе. 
<p/>За многие годы у объединения и музея сложилось тесное и плодотворное сотрудничество с образовательными и научными учреждениями регионального и федерального уровня: Федеральным центром детско-юношеского туризма и краеведения; Санкт-Петербургским городским дворцом творчества юных; Департаментом международного сотрудничества в образовании и науки; ИАИ РГГУ, Союзом краеведов России (СКР), МарНИИЯЛИ; Национальным музеем им. Т. Евсеева; МарГУ; ГОУДОТ Республики Марий Эл Детско-юношеский центр «Роза ветров»; ГОУ ДПО (ПК) С «Марийский институт образования». 
<p/>На протяжении многих лет осуществляется взаимодействие с д.и.н., профессором  кафедры отечественной истории МарГУ А.Г. Бахтиными и к.и.н., доцентом заведующим кафедрой социально-культурологических технологий ФГБОУ ВПО МарГУ  С.К. Свечниковым в виде консультаций и учебной деятельности. 
<p/>Благодаря финансовой  поддержки главы администрации района Д.Г. Шагиахметова, актив музея и его руководитель становились неоднократным участниками и призерами российских конкурсов, конференций и семинаров. 
<p/>Материалы музея неоднократно были представлены на российских и международных семинарах, конференциях и форумах: Семинары Совета Европы и Минобразования РФ (Москва, 2007, 2008, Йошкар-Ола, 2007); Всероссийский семинар-совещание руководителей и специалистов музеев образовательных учреждений (Москва, 2009); Учительский форум Приволжского федерального округа (Пенза, 2010); Первый всероссийский Съезд учителей истории и обществознания (Москва, 2011); Шестые всероссийские краеведческие чтения (Москва, 2012).
<p/>По материалам археологической экспозиции, ученица 7 класса  стала победителем конкурса экскурсоводов на XIV Всероссийской конференции туристско-краеведческого движения «Отечество» (Москва, 2006).
<p/>Музей дважды становился лауреатом республиканского смотра-конкурса музеев образовательных учреждений и был признан одним из лучших школьных музеев республики (2005, 2008).