<div id="lenta">
  <OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
      <EMBED src="reviews/reviews.swf"  
      bgcolor="#888888" 
      WIDTH="760" 
      HEIGHT="630" 
      quality="high"  
      scale="noscale" 
      name="nameswf" 
      align="TL" 
      salign="TL" 
      allowFullScreen="true" 
      />
  </OBJECT>
</div>

<!--
<p/>
<div id="vk_comments"></div>
<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {limit: 10, width: "700", attach: "*"});
</script>
-->
