<table cellpadding="0" cellspacing="0">
	<tr> 
		<td>
			<a href="/guidebook/russ_russia/novgorod"><img src="/img/novgorod-t.png" onMouseOver="this.src='/img/novgorod.png'"; onMouseOut="this.src='/img/novgorod-t.png'"></a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="/guidebook/russ_russia/borodino"><img src="/img/borodino-t.png" onMouseOver="this.src='/img/borodino.png'"; onMouseOut="this.src='/img/borodino-t.png'"></a></td>
		</td>
	</tr>
	<tr>
		<td>
			<a href="/guidebook/russ_russia/ww2"><img src="/img/ww2-t.png" onMouseOver="this.src='/img/ww2.png'"; onMouseOut="this.src='/img/ww2-t.png'"></a>
		</td>
	</tr>
</table>
