<div style="width: 714px; margin: 0 auto;">
  <div id="showcase" class="showcase">

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/1.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/1.jpg" width="101px" />
      </div>
    </div>
    
    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/2.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/2.jpg" width="101px" />
      </div>
    </div>
    
    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/3.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/3.jpg" width="101px" />
      </div>
    </div>
    
    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/4.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/4.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/5.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/5.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/6.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/6.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/7.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/7.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/8.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/8.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/9.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/9.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/10.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/10.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/11.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/11.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/12.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/12.jpg" width="101px" />
      </div>
    </div>
   <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/13.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/13.jpg" width="101px" />
      </div>
    </div>
    
    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/14.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/14.jpg" width="101px" />
      </div>
    </div>
    
    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/15.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/15.jpg" width="101px" />
      </div>
    </div>
    
    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/16.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/16.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/17.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/17.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/18.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/18.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/19.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/19.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/20.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/20.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/21.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/21.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/22.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/22.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/23.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/23.jpg" width="101px" />
      </div>
    </div>

    <div class="showcase-slide">
      <div class="showcase-content">
        <img src="/img/gallery/sle_presentation/24.jpg" />
      </div>
      <div class="showcase-thumbnail">
        <img src="/img/gallery/sle_presentation/24.jpg" width="101px" />
      </div>
    </div>




  </div>
</div>

<div align="center">Используйте кнопки "Назад" и "Далее" или стрелки "&#8592;" и "&#8594;" на клавиатуре для перелистывания слайдов</div>