<table>
	<td width="625">
		<font id="h1">Археологические и краеведческие слеты</font>
	</td>
	<td>
		<a href="/union/slet/presentation">
			<img src="/img/presentation.png" onMouseOver="this.src='/img/sle_presentation.png'"; onMouseOut="this.src='/img/presentation.png'" />
		</a>
	</td>
</table>

<p/>Один из первых республиканских  слетов юных археологов прошел в июне 1990 г. В окрестностях села 
Ильинка  Горномарийского района был организован республиканский лагерь «Дружба». Программа слета 
предусматривала раскопки двух жилищ каменного века, археологические разведки, конференцию, конкурсы 
по археологии и туристскому быту. Участники лагеря совершили однодневный поход с целью 
археологической разведки. Маршрут пролегал по правому берегу р. Волги  до Юльяльской стоянки (7–8км). 
Был собран подъемный материал из камня: скребки, ножевидные пластины, нуклеусы и наконечники стрел, 
которые пополнили фонды школьного музея.
   
<p/>В 1990 г. медведевцы получили приглашение на участие в смене Всероссийского лагеря 
туристско-краеведческого актива «Дружба». Программа лагеря предусматривала экскурсии по Москве, 
посещение музеев, обмен опытом работы, участие в реставрации и археологических исследованиях на 
Бородинском поле, а так же участие в различных конкурсах.  По общим  итогам всех конкурсов 
«медведевцы» заняли II командное место. 

<p/>В 1991 г. прошел второй республиканский слет юных археологов на левобережье Волги в устье р. 
Илети Звениговского района. В слете принимали участие школьники Оршанского района (руководитель – 
Вениамин Константинович Константинов), городов Волжска (руководитель – Аексанндр Геннадьевияч Казаков), 
Йошкар-Олы (руководитель – Татьяна Леонидовна Кувшинская) и медведевцы (руководитель – Игорь 
Иванович Панов). Базой для проведения слета была археологическая экспедиция МарНИИ под руководством 
археолога Александра Игорьевича Шадрина. Значительную помощь в организации лагеря оказала 
республиканская станция юных туристов. Программа слета предусматривала проведение 
археологических раскопок, учебу актива, спортивные мероприятия, конкурсы: археологический, 
художественной самодеятельности, «Боевых листков. 

<p/>В 1992 г. Юные археологи приняли участие в работе всероссийского полевого лагеря на Бородинском 
поле для объединений школьников, изучающих военную историю. Лагерь был организован Центром 
детско-юношеского туризма РФ совместно с Бородинским военно-историческим музеем-заповедником. 
Лагерь посвящался 180-летию Бородинского сражения и проходил с 3 по 7 сентября в полевых условиях, 
без проживания в Москве. На слет были приглашены детские объединения, награжденные Дипломами и 
Грамотами ЦДЮТУР РФ за успешную работу на Бородинском поле в предшествующий период.
 
<p/>В 1995 г. актив медведевского археологического кружка находился в межрегиональном лагере юных 
археологов в Крыму, на раскопках  древнего Херсонеса (Севастополь). Лагерь проводился на базе 
Херсонесского археологического заповедника. Программа лагеря включала в себя археологические 
раскопки античных памятников, практические занятия, экскурсии, отдых на берегу Черного моря. 
<p/>Поездка была организована Московским координационным центром совместно с Московской областной 
детской экскурсионно-туристской станцией. Теоретическая и практическая часть пребывания в лагере 
была насыщенной и интересной, а главное, связанной со школьной программой по истории и практической 
деятельностью археологического кружка. В конце смены лагеря состоялась научно – практическая 
конференция школьников и руководителей групп по обмену опытом работы.

<p/>В 1996 г. в Звениговском районе проходил республиканский слет туристов – краеведов, 
посвященном 40 – летию образования юношеского туристического центра Республики Марий Эл. 
Слет проводился совместно с 37 республиканскими туристскими соревнованиями. Общее руководство 
организацией и проведением слета осуществлял  Юношеский туристский центр во главе с его директором 
Валерием Алексеевичем Смышляевым. Участие в слете приняло 12 команд.
 
<p/>Медведевсский район  выставил три группы из 17 школьников: Нурминская средняя школа 
(руководитель – Лидия Павловна Смоленцева), Цибикнурская средняя школа (руководитель – 
Михаил Леонидович Волков), Медведевская средняя школа (руководитель – Игорь Иванович Панов). 
Медведевская школа была представлена 3 юными археологами, многократными участниками 
археологических экспедиций и слетов: Сергеем Бандиным; Ольгой Лежниной; 
Светланой Гордеевой. Юных археологов пригласили на слет как  гостей, но они 
пожелали активно участвовать во всех конкурсах, предусмотренных программой слета. 
Медведевская команда  впервые заняла III  общекомандное место.
