<div id="lenta">


<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0">

<embed src="sphere.swf?xml_path=sphere.xml" 
width="760" 
height="538" 
quality="high" 
allowFullScreen="true"  
wmode="transparent" 
allowScriptAccess="always" 
name="tech" 
align="middle" 
type="application/x-shockwave-flash" 
pluginspage="http://www.macromedia.com/go/getflashplayer" />
	 </object>
</div>