<table>
	<td width="625">
		<font id="h1">Из истории объединения</font>
	</td>
	<td>
		<a href="/union/history/presentation">
			<img src="/img/presentation.png" onMouseOver="this.src='/img/his_presentation.png'"; onMouseOut="this.src='/img/presentation.png'" />
		</a>
	</td>
</table>

<p/>Медведевское объединение «Юный археолог» 2011 г. отмечало 25–летний юбилей. История объединения 
начинается осенью 1986 г. с создания археологического кружка в 
Шеклянурской восьмилетней школе Медведевского района Республики Марий Эл. Как же это было?
<p/>Два молодых специалиста, выпускники Марийского государственного педагогического института 
им. Н.К. Крупской (МГПИ) и Марийского государственного университета (МарГУ) Игорь Иванович 
Панов и Александр Геннадьевич Бахтин, работая по распределению в сельских школах в Шеклянуре и 
Цибикнуре, организовали школьные археологические кружки. В связи с переходом на преподавательскую 
работу Александра Геннадьевича Бахтина в МГПИ в 1989 г. Цибикнурский кружок прекратил свою 
деятельность. Перейдя на работу в п. Медведево, Игорь Иванович Панов в 1987 г. создал кружок 
сначала в СОШ №1, а затем в СОШ №2 на базе районного Дома детского творчества. С 2003 г. 
дополнительно открыт кружок в СОШ № 3».
<p/>Деятельность кружка начиналась не на пустом месте, еще в 60–е гг. XX века началось 
привлечение школьников к археологическим исследованиям в Республике Марий Эл. Одними из 
первых были учащиеся школ г. Козьмодемьянска. В 70–е гг. в МарГУ на историческом 
факультете сложилась группа активных студентов, которые занимались археологией. 
По их инициативе был образован школьный археологический кружок. Работа районных 
кружков была скоординирована с работой Дворца пионеров г. Йошкар-Олы, где проводились 
республиканские конференции и слеты археологов. Вначале базой для школьных кружков была 
Марийская археологическая экспедиция, а позже экспедиция Марийского республиканского 
краеведческого музея. Но вскоре большинство из них были закрыты из-за отсутствия 
финансирования. Медведевское объединение «Юный археолог», несмотря на материальные 
трудности, сохранилось и продолжает успешно существовать.
<p/>История объединения, условно подразделяется на три этапа, для каждого из них характерны свои особенности. 
I этап 1986–1996 гг. Особенностями первого этапа объединения являются:
<ul>
<li>формирование школьного археологического кружка;
<li>широкое участие детей в экспедициях; 
<li>установление традиций в экспедициях; 
<li>участие актива кружка в республиканских, всероссийских археологических и краеведческих слетах; 
<li>создание археологического кабинета (экспозиции) в Медведевской СОШ № 2.
</ul>
<p/>II этап – 1997–2002 гг. Возникают  качественно новые явления. Они, с одной стороны, 
явились результатом внутреннего, логического развития кружка, с другой, были связаны с 
изменениями, которые проходили в российском обществе. К новым явлениям в работе объединения можно отнести: 
<ul>
<li>поиск и рождение новых форм деятельности кружка;
<li>подготовку и участие во всероссийских, открытых региональных и республиканских олимпиадах, конкурсах и конференциях; 
<li>организацию и проведение археологических экспедиций, основной состав которых составили ученики СОШ № 2.
</ul>
<p/>III этап – 2003–2012 гг. – стал для объединения новым шагом вперед. Что характерно для третьего этапа:
<ul> 
<li>преобразование археологического кружка в объединение «Юный археолог» (с 2007 года);
<li>участие в экспедициях учеников СОШ № 2 и СОШ № 3 п. Медведево; 
<li>помощь детей и взрослых в создании и оформлении единственного в Марий Эл археологического музея в СОШ № 3, ставшего одним из центров воспитательной и научно-исследовательской работы обучающихся; 
<li>активная деятельность юных археологов в работе школьного научного общества (ШНО), участие юных исследователей во всероссийских, республиканских, конкурсах и конференциях; 
<li>затруднения с выездом в экспедиции в связи с ограничениями и запретами Роспотребнадзора. 
</ul>
<p/>Важнейшим побудительным мотивом в организации кружковой работы было увлечение <a href="#####">руководителя 
объединения</a> археологией во время обучения в вузе. Уже тогда происходил сбор археологического 
материала, представляющего интерес и не имеющего значительной научной ценности. Желание детей 
знать историю больше и глубже, возможность вывести их в летнее время из поселка не только для 
того, чтобы они отдохнули и набрались сил, но и вырвать их из криминогенной среды, привело к 
созданию археологического кружка. На первых занятиях была поставлена общая цель: знать хорошо 
историю, участвовать в археологических раскопках, заниматься поисковой работой, помочь в создании 
археологического музея. 
<p/>Один из разделов экспозиции музея <u>«Летопись школьной археологии</u> Республики Марий Эл» посвящен 
юным археологам разных поколений. Начало раздела представлено стендом <u>«Гордость Медведевской 
школьной археологии»</u> с фотографиями лучших кружковцев разных поколений. Среди первых кружковцев 
были ребята разных школ, классов: Лилия Петухова, Виктор Машков, Сергей Гладышев, 
Ринат Назмутдинов, Дмитрий Кокушкин, Антон Симонов, Дмитрий Шобанов, Дмитрий Ушаков, 
Александр Ишпаев, Максим Манылов, Игорь Михеев,  Наталья Степанова, Наталья Чернякова, 
Анна Домрачева, Лариса Астахова, Светлана Кузнецова, Светлана Гордеева, Ольга Лежнина, 
Дамир Гайфулин, Сергей Киреев, Антон Лачков, Кирилл Москвичев, Сергей Бандин, 
а также Сергей Архипов, Светлана Инягина и Алексей Воробьев, впоследствии закончившие 
исторический факультет МарГУ. Интересно, что дети, которые много лет изучали историю, 
«копали» ее, сами стали объектом изучения, частью истории. 
<p/>Через газетные публикации, фотоматериалы, исследовательские проекты, научно-тематические 
серийные сборники отражена история школьной археологии Республики Марий Эл и 
деятельность археологических кружков в Медведевском районе. 
<p/>Можно предположить, что большинство новых археологических открытий в Марийском 
крае за последние 26 лет связано с активным участием медведевских школьников. Благодаря 
поддержке ГБОУДОД Республики Марий Эл «Детско-юношеский центр «Роза ветров» и Медведевского 
Дома детского творчества,  под научным руководством  сотрудников сектора археологии 
МАРНИИЯЛИ кружковцы приняли участие в 33 экспедициях и слетах. «Копали» все эпохи от 
каменного века до позднего средневековья. Общее количество участников экспедиций 
составляет около 300 человек (<a href="/union/expeditions">Список участников экспедиций</a>).
