#timeline *{
	margin: 0;
	padding: 0;
}

#timeline a {
	color: #555;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
	#timeline a:hover,
	#timeline a.selected {
		color: #000;
	}

#timeline h1{
	text-align: center;
	color: #000;   /* text color */
	margin-bottom: 5px;
	font-size: 15px;
}

	#timeline {
		width: 760px;
		height: 600px;
		overflow: hidden;
		margin: -10px -20px;  /* Центрирование !!!! */
		position: relative;
		background: url('/img/expeditions/dot.gif') 29px top repeat-y;
	}
		#dates {
			width: 200px;
			height: 600px;
			overflow: hidden;
			float: left;
		}
			#dates li {
				list-style: none;
				width: 150px;
				height: 100px;
				line-height: 100px;
				font-size: 25px;
				padding-left: 50px;
				background: url('/img/expeditions/bigdot.png') 26px center no-repeat;

			}
				#dates a {
					line-height: 38px;
					padding-bottom: 10px;
				}
				#dates .selected {
			        font-size: 38px;
				}
		
		#issues {
			width: 400px;
			height: 600px;
			overflow: hidden;
			float: left;
		}	
			#issues li {
				width: 400px;
				height: 600px;
				list-style: none;

			}
				#issues li img {
					float: left;
					margin: 100px 30px 10px 0px;
					padding: 0px 0px 0px 0px; /* top/right/bottom/left */
				}
				#issues li h1 {
					color: #000;
					font-size: 48px;
					text-align: center;
				}
				#issues li p {
					text-align: center;
					font-size: 18px;
					font-weight: normal;
					line-height: 22px;
					color: #000;
					
				}




		/* buttom of NEXT and PREVIEW */

		#grad_top,
		#grad_bottom {
			width: 760px;
			height: 95px;
			position: absolute;
		}
			#grad_top {
		        top: 0;
		        background: url('/img/expeditions/grad_top.png') repeat-x;
			}
			#grad_bottom {
		        bottom: 0;
		        background: url('/img/expeditions/grad_bottom.png') repeat-x;
			}
		
		#next,
		#prev {
			position: absolute;
			left: 50%;
			font-size: 70px;
			width: 50px;
			height: 22px;
			background-position: 0 -44px;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
			#next:hover,
			#prev:hover {
				background-position:  0 0;
			}
			#next {
				bottom: 20px;
				background-image: url('/img/expeditions/next_v.png');
			}
			#prev {
				top: 20px;
				background-image: url('/img/expeditions/prev_v.png');
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}