/* Контент слайдов */
#slides {
		margin: 0 auto; 	
		position: relative;
		width: 720px;
		height: 420px;
		z-index: 70;
}

/* Далее */
#slides .next {
		bottom: 230px;
		float: right;
		position: relative;
		width: 20px;
		height: 40px;
		display: block;
		z-index: 101;
}

/* Назад */
#slides .prev {
		position: relative;
		bottom: 230px;
		float: left;
		width: 20px;
		height: 40px;
		display: block;
		z-index: 101;
}

/* Расположенеи слайдов */
.slides_container {
		margin: 0 auto;
		width: 680px;
		height: 389px;
		overflow: hidden;
		position: relative;
}

/* Кнопочки */
.pagination {
		padding: 6px 0px 0px 0px; /* top/right/bottom/left */
		list-style: none;
		margin: 0 auto;
		width: 170px;
}

.pagination li {
		float: left;
		margin: 0 1px;
}
.pagination li a {
		display: block;
		width: 12px;
		height: 0;
		padding-top: 13px;
		background-image: url(/img/12photo/pagination.png);
		float: left;
		overflow: hidden;
}

.pagination li.current a {
		background-position: 0 -12px;
}
