<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Lucida Console">
<title>Археологический школьный музей</title>
<link href="style.css" rel="stylesheet" type="text/css">
<style type="text/css">
.sidebarmenu ul{
margin:0px;
padding:0;
border-bottom:0px;
list-style:none;
width:190px;		<!-- Ширина столбцов в левом меню -->    
font:13px Verdana, Arial, Helvetica, sans-serif;		<!-- Размер и стиль шрифта -->
}
 
.sidebarmenu ul li{
position: relative;
}
.sidebarmenu ul li a{
display: block;
overflow: auto;
text-decoration: none;
padding: 9px;
}

.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active{
background: url(Svitok1.png) center -100px;
}

.sidebarmenu ul li a:visited{

}

.sidebarmenu ul li a:hover{
border-right: 1px solid
border-left: 1px solid 
background: url(navod.jpg) center -100px;
}

.sidebarmenu ul li ul{
position: absolute;
width: 180px; 
top: 0;
visibility: hidden;
border-left: 1px solid
border-top: 1px solid 
border-right: 1px solid
}

.sidebarmenu a.subfolderstyle{
background: url(right.gif) no-repeat 97% 50%;
}
</style>

<script type="text/javascript">
var menuids=["sidebarmenu1"]

function initsidebarmenu(){
for (var i=0; i<menuids.length; i++){
  var ultags=document.getElementById(menuids[i]).getElementsByTagName("ul")
    for (var t=0; t<ultags.length; t++){
    ultags[t].parentNode.getElementsByTagName("a")[0].className+=" subfolderstyle"
  if (ultags[t].parentNode.parentNode.id==menuids[i])
   ultags[t].style.left=ultags[t].parentNode.offsetWidth+"px"
  else //else if this is a sub level submenu (ul)
    ultags[t].style.left=ultags[t-1].getElementsByTagName("a")[0].offsetWidth+"px"
    ultags[t].parentNode.onmouseover=function(){
    this.getElementsByTagName("ul")[0].style.display="block"
    }
    ultags[t].parentNode.onmouseout=function(){
    this.getElementsByTagName("ul")[0].style.display="none"
    }
    }
  for (var t=ultags.length-1; t>-1; t--){
  ultags[t].style.visibility="visible"
  ultags[t].style.display="none"
  }
  }
}

if (window.addEventListener)
window.addEventListener("load", initsidebarmenu, false)
else if (window.attachEvent)
window.attachEvent("onload", initsidebarmenu)
</script>
</head>

<body>
<center>
<div id="maket">
<Img src="plakat.png" Width="1146" Height="270">
<B><font color="#FFF600" size="6" face="Monotype Corsiva">МЕДВЕДЕВСКИЙ &nbspШКОЛЬНЫЙ &nbspАРХЕОЛОГИЧЕСКИЙ &nbspМУЗЕЙ</font></B>

<div id="contanier">
<div align="center">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td height="0" colspan="2" id="top2" >


<table cellpadding="0" cellspacing="0" border="0" width="1140">
<tr>
<td align="center"><ul id="cssmenu"><a href="index.html"><img border="0" alt="" src="2-1.jpg"/></a></td>

<td align="center"><ul id="cssmenu"><a href="novosti.html"><img border="0" alt="" src="2-2.jpg"/></a></td>

<td align="center"><ul id="cssmenu"><li><img border="0" alt="" src="2-3.jpg" /></a> 
	<ul>
    	<li><a href="muzey1.html">История создания</a>
    	<li><a href="muzey2.html">Коллекция музея</a>
    	<li><a href="muzey3.html">Концепция музея</a>
    	<li><a href="muzey4.html">Деятельность музея</a>
    	<li><a href="muzey5.html">Итоги работы</a>
    	<li><a href="muzey6.html">Документы</a>
	</ul>
</td>

<td align="center"><ul id="cssmenu"><li><img border="0" alt="" src="2-4.jpg"/></a>
<ul>
    <li><a href="paleontologiya.html">Палеонтология</a>
    <li><a href="kamen.html">Эпоха камня</a>
	<ul id="navmenu-v">
        <li><a href="paleolit.html">Палеолит</a>
        <li><a href="mezolit.html">Мезолит</a>
        <li><a href="neolit.html">Неолит</a>
	</ul>
    <li><a href="metall.html">Ранний металл</a>
    <li><a href="antichnostrazdeli.html">Античность</a>
	<ul id="navmenu-v">
        <li><a href="antichnost.html">Античные города</a>
        <li><a href="olviya.html">Ольвия</a>
        <li><a href="hersones.html">Херсонес</a>
	</ul>
    <li><a href="mariyci.html">Марийцы XIII-XVIII вв.</a>
    <li><a href="rusrossiya.html">Русь - Россия</a>
	<ul id="navmenu-v">
        <li><a href="novgorod.html">Великий Новгород</a>
        <li><a href="borodino.html">Бородино 1812 г.</a>
        <li><a href="voyna.html">ВОВ 1941-1945 гг.</a>
	</ul>
</ul>
</td>

<td align="center"><ul id="cssmenu"><li><img border="0" alt="" src="2-5.jpg"/>
<ul>
    <li><a href="history.html">Из истории</a>
    <li><a href="ekspedisii.html">Экспедиции</a>
    <li><a href="sloti.html">Слёты</a>
    <li><a href="konkursi.html">Конкурсы</a>
    <li><a href="sozdanie.html">Создание музея</a>
</ul>
</td>

<td align="center"><ul id="cssmenu"><li><a href="http://arhmuzey.ru/forum"><img border="0" alt="" src="2-6.jpg"/></a>
</td>
</tr>
</table>
</div>


<div id="left">
<ul id=vm>
<div align="center">
<div class="sidebarmenu">
<ul id="sidebarmenu1">

<li><a href="#"><U>Медведево</U></a>
  <ul>
  <li><a href="medvedevo.html">Общие сведения</a>
  <li><a href="medvedevo-photo.html">Галерея</a>
  </ul>

<li><a href="#"><U>Руководитель музея</U></a>
  <ul>
  <li><a href="svedeniya.html">Общие сведения</a>
  <li><a href="konfirensii.html">Конференции</a>
  <li><a href="sistema.html">Метод. система</a>
  <li><a href="sistema-present.html">Презентация</a>
  <li><a href="publikasii.html">Публикации</a>
  </ul>

<li><A href="foto.html"><U>Слайд Шоу</U></a>
<li><A href="book.html"><U>Отзывы о музее</U></a>
<li><A href="SMI.html"><U>СМИ о нас</a></U>
<li><a href="#"><U>Наши достижения</U></a>
  <ul>
  <li><a href="russiya.html">Всероссийские</a>
  <li><a href="respublika.html">Республиканские</a>
  </ul>

<li><A href="gordost.html"><U>Гордость объединения</U></a>
<li><a href="#"><U>Фото архив</U></a>
  <ul>
  <li><a href="expedicii-archive.html">Экспедиции</a>
  <li><a href="k-2006-2013.html">Конкурсы</a>
  <li><a href="arhmuzey.html">Музей</a>
  </ul>

<li><A href="video.html">Видео архив</a>
<li><A href="karta.html">Карта сайта</a>
<li><A href="sozdateli.html">Создатели сайта</a>

</div>
</div>
</div>

<div id="right">
<A href="chasi.html"><img src="chasi.gif" Width="190" Height="247" border="0"></a>
<P><A href="shar.html"><img src="shar-right.gif" Width="190" Height="190" border="0"></a>
</div>
<div id="content" align="justify"> 
<font size=4px>
<p>С 11 ноября по 15 ноября на базе Федерального центра детско-юношеского туризма и краеведения (г. Москва) прошли Всероссийские краеведческие чтения юных краеведов-туристов и межрегиональный семинар-совещание руководителей и специалистов музеев образовательных учреждений по теме «Организация музейной работы в образовательных учреждениях»
<p> Республика Марий Эл была представлена единственным участником,  победителем районного, республиканского и лауреатом окружного конкурса Приволжского федерального округа  учеником 9 «А» класса   Медведевской средней школы №3» Максимом Крыловым. Максим выступал от коллектива Медведевского объединения «Юный археолог» при   Медведевском  районном  доме детского творчества и археологического музея  Медведевская СОШ №3 под руководством учителя истории  Медведевской средней школы №2» Игоря Ивановича Панова. Мы встретились с И.И. Пановым и попросили его поделиться этой приятной и очень радостной новостью.
<p> - Игорь Иванович, расскажите, хотя бы  вкратце, об этом очень масштабном мероприятии. 
<p> Вы очень точно заметили, что Всероссийские краеведческие чтения это очень масштабное мероприятие, в котором приняли участие свыше 150 обучающихся и их наставников из 30 регионов России,  от Камчатки на востоке и до Санкт-Петербурга и Калининграда на западе.
<p> В рамках Всероссийских краеведческих чтений проходили секционные заседания, на которых участники выступили со своими краеведческими исследованиями по направлениям: «Родословие», «Культурное наследие», «Земляки», «Летопись родного края», «Этнография», «Экология», «Школьные музеи», «Военная история», «Педагогика и краеведение». Членами жюри были ведущие ученые-краеведы Москвы – сотрудники московских музеев, научно-исследовательских институтов, члены Союза краеведов России.
<p> - А как строилась работа секций?
<p> Работа секций строилась по принципу «погружения в культурно-историческую среду», проходила в ведущих музеях и научно-исследовательских учреждениях данного профиля и включала секционную защиту исследовательских работ, мастер-классы, экскурсии, конкурсы фотографий, художественных произведений, видеофильмов, художественных программ.
<p> Наш Максим Крылов  работал в самой многочисленной секции   «Летопись родного края» (26 участников) в номинации «Школьные музеи», защитил исследовательскую работу «Виртуальный музей» (Медведевский школьный археологический музей). 
<p> - И каких успехов добился Ваш воспитанник?
<p> - Нам было очень приятно, что исследовательская работа и ее защита, вызвали большой интерес у всех присутствующих. Члены жюри   признали ее  одной из лучших и оригинальных. В нашем сайте «Виртуальный археологический музей» удалось отразить все направления деятельности объединения «Юный археолог» за 27 лет его существования. В исследовательской работе систематизированы методические наработки руководителя музея, результаты деятельности членов объединения «Юный археолог», а также отображена уникальность Медведевского археологического музея в текстовом и мультимедийном варианте.
<p> Как отметил один из  членов жюри Николай Иванович Решетников, к.и.н., профессор Московского государственного университета культуры и искусств, подобных виртуальных проектов, выполненных школьниками он еще не встречал. Николай Иванович пожелал нашим ребятам  не останавливаться на достигнутом, продолжать работу дальше, чтобы ресурсами сайта могли пользоваться все желающие интернет - пространства.   
<p> Максим Крылов став победителем Всероссийских краеведческих чтений, получил приглашение на участие во  Всероссийском конкурсе исследовательских работ «Отечество», который пройдет в апреле 2014 года также в Москве.
<p> - Игорь Иванович, я увидела работу Ваших ребят в научно-популярном журнале для детей и юношества «Юный краевед», №9. Теперь вся Россия будет знать о нашем поселке Медведево. Это прекрасный подарок к юбилею района.
<p> - Действительно, ребята очень старались преподнести такой подарок. Ведь нас всегда и во всем поддерживает глава администрации района Даиль Габдуллович Шагиахметов. Мы ему очень благодарны за все. И эта победа в секции «Летопись родного края» - несомненно хороший подарок Медведевскому району от наших краеведов.
<p> - Успех юного краеведа –  это коллективный труд всей команды, не так ли?
<p> - Конечно, это, большой успех всех и каждого из ребят  в отдельности. Это было отмечено на Чтениях. Грамотой Министерства образования и науки Российской Федерации, Федерального Центра детского и юношеского туризма и краеведения награжден  коллектив Медведевского объединения «Юный археолог»:  в составе Алексея Леухина (11 класс, Медведевская СОШ №2), Максима Крылова, Никиты Алексеева (9 класс, Медведевская СОШ №3) лауреата конкурса исследовательских работ по теме «Виртуальный музей» на Всероссийских краеведческих чтениях. 
<p> - А я добавлю, что Игорь Иванович Панов, как научный руководитель лауреатов, также  награжден Грамотой.

<p>Полушина. Г. <i>Подарок к юбилею района. Всероссийский успех медведевцев. //Вести. — 2013. — 20 декабря.</i>




<div id="footer">Сайт создан <A href="sozdateli.html"><font color= "black">учениками трех медведевских школ</font></A> под 
руководством учителя истории <A href="svedeniya.html"><font color= "black">Панова Игоря Ивановича.</font></A> 
<P>Сайт создавался без использования "конструктора сайтов"</div>
</div>
</center>
</body>
</html>